<section class="hp-posts mb-9">
  <div class="container">
    <h3 class="h2 text-center mb-lg-4 mb-3 fw-light">Články</h3>
    <div class="hp-posts__wrapper">
      <a href="#" class="hp-posts__news">
        <div class="hp-posts__item">
          <div class="hp-posts__item-wrap">
            <div class="mb-4 tags">
              <div class="tag tag-lightBlue">Veslování</div>
              <ul class="tags__list">
                <li>10. 10. 2024</li>
              </ul>
            </div>
            <h3 class="h3 mb-12">
              Václava Šantrůčková slaví významné životní jubileum
            </h3>
            <p class="text-dark-72">
              „Vendulka“ Šantrůčková je členkou VK Smíchov. Své 80. narozeniny
              oslaví 14. října. Připomeňme si významné sportovní úspěchy. V
              době, kdy ženy nemohly soutěžit na MS a OH sbírala úspěchy na ME,
              kterých se účastnily i veslařky jiných kontinentů. Mistrovství
              Evropy: 1967 - 8+/5., 1967 - 4x/6., 1968 - 2x/5., 1969 - 4x/4.,
              1969 - 8+/6., 1975 - 4+/10.
            </p>
          </div>
        </div>
        <div class="hp-posts__news-img">
          <img src="images/content/hp-news.png" loading="lazy" alt="post" />
        </div>
      </a>
      <ul class="aside__news">
        <li>
          <div class="aside__news-item">
            <h4 class="h3 mb-1">Hradišťský šestikilák</h4>
            <div class="text-black-50 mb-12">10. 10. 2024</div>
            <p class="text-dark-72">
              Druhý říjnový víkend bude tradičně patřit distančnímu závodu v
              Uherském Hradišti. Pro mladé závodníky to bude po letní sezóně
              první test na šestikilometrové trati a zároveň možná vstupenka na
              sraz juniorských a U23 závodníků.
            </p>
          </div>
        </li>
        <li>
          <div class="aside__news-item">
            <h4 class="h3 mb-1">Head of Prague</h4>
            <div class="text-black-50 mb-12">2. 10. 2024</div>
            <p class="text-dark-72">
              Head of Prague - distanční závod osmiveslic Prahou s jednou
              otočkou. Start závodu je u Barrandovského mostu na podolské straně
              řeky, otočka mezi Palackého a Jiráskovým mostem a cíl na
              smíchovské straně na úrovni VK Blesk.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="row g-lg-4 g-3 mb-5">
      <div class="col-lg-3 col-sm-6">
        <a href="#" class="post">
          <div class="post__img">
            <img src=" images/content/post-1.png" loading="lazy" alt="post-1" />
          </div>
          <div class="post__content">
            <div class="mb-4 tags">
              <div class="tag tag-lightBlue">Veslování</div>
              <ul class="tags__list">
                <li>10. 10. 2024</li>
              </ul>
            </div>
            <h4 class="h3">Doháníme rozjetý vlak... Jsme na dobré cestě!</h4>
            <p>
              Minulý týden jsme na našich stránkách zveřejnili první část
              rozhovorů zaměřených na trendy ve sportu, o který se začalo mluvit
              v souvislosti s OH v Paříži. Na otázky nám odpověděli Ondřej
              Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal Kur rst,
              předseda ČVS.
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a href="#" class="post">
          <div class="post__img">
            <img src=" images/content/post-2.png" loading="lazy" alt="post-1" />
          </div>
          <div class="post__content">
            <div class="mb-4 tags">
              <div class="tag tag-blue">Beach</div>
              <ul class="tags__list">
                <li>10. 10. 2024</li>
              </ul>
            </div>
            <h4 class="h3">MČR družstev má své vítěze</h4>
            <p>
              Minulý týden jsme na našich stránkách zveřejnili první část
              rozhovorů zaměřených na trendy ve sportu, o který se začalo mluvit
              v souvislosti s OH v Paříži. Na otázky nám odpověděli Ondřej
              Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal Kur rst,
              předseda ČVS.
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a href="#" class="post">
          <div class="post__img">
            <img src=" images/content/post-3.png" loading="lazy" alt="post-1" />
          </div>
          <div class="post__content">
            <div class="mb-4 tags">
              <div class="tag tag-red">Beach</div>
              <ul class="tags__list">
                <li>10. 10. 2024</li>
              </ul>
            </div>
            <h4 class="h3">Všechny medaile MČR ve sprintu jsou předány</h4>
            <p>
              Minulý týden jsme na našich stránkách zveřejnili první část
              rozhovorů zaměřených na trendy ve sportu, o který se začalo mluvit
              v souvislosti s OH v Paříži. Na otázky nám odpověděli Ondřej
              Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal Kur rst,
              předseda ČVS.
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a href="#" class="post">
          <div class="post__img">
            <img src=" images/content/post-4.png" loading="lazy" alt="post-1" />
          </div>
          <div class="post__content">
            <div class="mb-4 tags">
              <div class="tag tag-lightBlue">Veslování</div>
              <ul class="tags__list">
                <li>10. 10. 2024</li>
              </ul>
            </div>
            <h4 class="h3">Musíme naskočit do vlaku, který už odjel</h4>
            <p>
              Minulý týden jsme na našich stránkách zveřejnili první část
              rozhovorů zaměřených na trendy ve sportu, o který se začalo mluvit
              v souvislosti s OH v Paříži. Na otázky nám odpověděli Ondřej
              Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal Kur rst,
              předseda ČVS.
            </p>
          </div>
        </a>
      </div>
    </div>
    <a href="#" class="btn btn-arrow mx-auto"> Starší články </a>
  </div>
</section>
