<section class="partnersSlider mb-9">
  <div class="container">
    <h3 class="h2 text-center mb-lg-4 mb-3 fw-light">Partneři</h3>
    <ul class="partnersSlider__inner">
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link">
          <img
            src="images/content/partners/partner.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link">
          <img
            src="images/content/partners/1.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link">
          <img
            src="images/content/partners/2.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link">
          <img
            src="images/content/partners/3.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link">
          <img
            src="images/content/partners/4.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link">
          <img
            src="images/content/partners/5.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link">
          <img
            src="images/content/partners/6.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link">
          <img
            src="images/content/partners/partner.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link">
          <img
            src="images/content/partners/1.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link">
          <img
            src="images/content/partners/2.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link">
          <img
            src="images/content/partners/3.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link">
          <img
            src="images/content/partners/4.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link">
          <img
            src="images/content/partners/5.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
      <li class="partnersSlider__item">
        <a href="#" class="partnersSlider__link">
          <img
            src="images/content/partners/6.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
