<div class="players">
  <div class="row g-lg-4 g-3" id="players">
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <a href="#" class="sportsmenItem">
        <div class="sportsmenItem__img">
          <img src="images/content/post-2.png" loading="lazy" alt="sportsman" />
        </div>
        <div class="sportsmenItem__info">
          <div class="sportsmenItem__avatar">
            <img
              src="images/content/sportsman-2.png"
              loading="lazy"
              alt="sportsman"
            />
          </div>
          <div class="tags mb-12">
            <div class="tag tag-red">Hala</div>
          </div>
          <h5 class="h3">Jakub PODRAZIL</h5>
        </div>
      </a>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <a href="#" class="sportsmenItem">
        <div class="sportsmenItem__img">
          <img src="images/content/post-2.png" loading="lazy" alt="sportsman" />
        </div>
        <div class="sportsmenItem__info">
          <div class="sportsmenItem__avatar">
            <img
              src="images/content/sportsman-1.png"
              loading="lazy"
              alt="sportsman"
            />
          </div>
          <div class="tags mb-12">
            <div class="tag tag-lightBlue">Veslování</div>
          </div>
          <h5 class="h3">Miroslav Vraštil</h5>
        </div>
      </a>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <a href="#" class="sportsmenItem">
        <div class="sportsmenItem__img">
          <img src="images/content/post-2.png" loading="lazy" alt="sportsman" />
        </div>
        <div class="sportsmenItem__info">
          <div class="sportsmenItem__avatar">
            <img
              src="images/content/sportsman-3.png"
              loading="lazy"
              alt="sportsman"
            />
          </div>
          <div class="tags mb-12">
            <div class="tag tag-lightBlue">Veslování</div>
            <div class="tag tag-blue">Beach</div>
            <div class="tag tag-red">Hala</div>
          </div>
          <h5 class="h3">Miroslav Vraštil</h5>
        </div>
      </a>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <a href="#" class="sportsmenItem">
        <div class="sportsmenItem__img">
          <img src="images/content/post-2.png" loading="lazy" alt="sportsman" />
        </div>
        <div class="sportsmenItem__info">
          <div class="sportsmenItem__avatar">
            <img
              src="images/content/sportsman-2.png"
              loading="lazy"
              alt="sportsman"
            />
          </div>
          <div class="tags mb-12">
            <div class="tag tag-red">Hala</div>
          </div>
          <h5 class="h3">Jakub PODRAZIL</h5>
        </div>
      </a>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <a href="#" class="sportsmenItem">
        <div class="sportsmenItem__img">
          <img src="images/content/post-2.png" loading="lazy" alt="sportsman" />
        </div>
        <div class="sportsmenItem__info">
          <div class="sportsmenItem__avatar">
            <img
              src="images/content/sportsman-1.png"
              loading="lazy"
              alt="sportsman"
            />
          </div>
          <div class="tags mb-12">
            <div class="tag tag-lightBlue">Veslování</div>
          </div>
          <h5 class="h3">Miroslav Vraštil</h5>
        </div>
      </a>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <a href="#" class="sportsmenItem">
        <div class="sportsmenItem__img">
          <img src="images/content/post-2.png" loading="lazy" alt="sportsman" />
        </div>
        <div class="sportsmenItem__info">
          <div class="sportsmenItem__avatar">
            <img
              src="images/content/sportsman-3.png"
              loading="lazy"
              alt="sportsman"
            />
          </div>
          <div class="tags mb-12">
            <div class="tag tag-lightBlue">Veslování</div>
            <div class="tag tag-blue">Beach</div>
            <div class="tag tag-red">Hala</div>
          </div>
          <h5 class="h3">Miroslav Vraštil</h5>
        </div>
      </a>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <a href="#" class="sportsmenItem">
        <div class="sportsmenItem__img">
          <img src="images/content/post-2.png" loading="lazy" alt="sportsman" />
        </div>
        <div class="sportsmenItem__info">
          <div class="sportsmenItem__avatar">
            <img
              src="images/content/sportsman-2.png"
              loading="lazy"
              alt="sportsman"
            />
          </div>
          <div class="tags mb-12">
            <div class="tag tag-red">Hala</div>
          </div>
          <h5 class="h3">Jakub PODRAZIL</h5>
        </div>
      </a>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <a href="#" class="sportsmenItem">
        <div class="sportsmenItem__img">
          <img src="images/content/post-2.png" loading="lazy" alt="sportsman" />
        </div>
        <div class="sportsmenItem__info">
          <div class="sportsmenItem__avatar">
            <img
              src="images/content/sportsman-1.png"
              loading="lazy"
              alt="sportsman"
            />
          </div>
          <div class="tags mb-12">
            <div class="tag tag-lightBlue">Veslování</div>
          </div>
          <h5 class="h3">Miroslav Vraštil</h5>
        </div>
      </a>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <a href="#" class="sportsmenItem">
        <div class="sportsmenItem__img">
          <img src="images/content/post-2.png" loading="lazy" alt="sportsman" />
        </div>
        <div class="sportsmenItem__info">
          <div class="sportsmenItem__avatar">
            <img
              src="images/content/sportsman-3.png"
              loading="lazy"
              alt="sportsman"
            />
          </div>
          <div class="tags mb-12">
            <div class="tag tag-lightBlue">Veslování</div>
            <div class="tag tag-blue">Beach</div>
            <div class="tag tag-red">Hala</div>
          </div>
          <h5 class="h3">Miroslav Vraštil</h5>
        </div>
      </a>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <a href="#" class="sportsmenItem">
        <div class="sportsmenItem__img">
          <img src="images/content/post-2.png" loading="lazy" alt="sportsman" />
        </div>
        <div class="sportsmenItem__info">
          <div class="sportsmenItem__avatar">
            <img
              src="images/content/sportsman-2.png"
              loading="lazy"
              alt="sportsman"
            />
          </div>
          <div class="tags mb-12">
            <div class="tag tag-red">Hala</div>
          </div>
          <h5 class="h3">Jakub PODRAZIL</h5>
        </div>
      </a>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <a href="#" class="sportsmenItem">
        <div class="sportsmenItem__img">
          <img src="images/content/post-2.png" loading="lazy" alt="sportsman" />
        </div>
        <div class="sportsmenItem__info">
          <div class="sportsmenItem__avatar">
            <img
              src="images/content/sportsman-1.png"
              loading="lazy"
              alt="sportsman"
            />
          </div>
          <div class="tags mb-12">
            <div class="tag tag-lightBlue">Veslování</div>
          </div>
          <h5 class="h3">Miroslav Vraštil</h5>
        </div>
      </a>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <a href="#" class="sportsmenItem">
        <div class="sportsmenItem__img">
          <img src="images/content/post-2.png" loading="lazy" alt="sportsman" />
        </div>
        <div class="sportsmenItem__info">
          <div class="sportsmenItem__avatar">
            <img
              src="images/content/sportsman-3.png"
              loading="lazy"
              alt="sportsman"
            />
          </div>
          <div class="tags mb-12">
            <div class="tag tag-lightBlue">Veslování</div>
            <div class="tag tag-blue">Beach</div>
            <div class="tag tag-red">Hala</div>
          </div>
          <h5 class="h3">Miroslav Vraštil</h5>
        </div>
      </a>
    </div>
  </div>
  <button
    type="button"
    class="btn mx-auto js-fetchHTML btn-arrow mt-6"
    data-fetch-url="/veslo_cz/build/_players.html"
    data-fetch-container="#players"
    data-fetch-limit="3"
    data-text="načíst další  "
    data-text-fetching="Načítám..."
    data-text-error="Omluvte chybu, nepodařilo se načíst další aktuality"
  >
    Načíst další
  </button>
</div>
