<section class="hp-sports">
  <div class="row g-1">
    <div class="col-lg-4">
      <a href="#" class="hp-sports__item">
        <img src="images/content/sport-1.png" loading="lazy" alt="veslovani" />
        <h3 class="h2 fw-light">Veslování</h3>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="#" class="hp-sports__item">
        <img src="images/content/sport-2.png" loading="lazy" alt="veslovani" />
        <h3 class="h2 fw-light">Beach Sprint</h3>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="#" class="hp-sports__item">
        <img src="images/content/sport-3.png" loading="lazy" alt="veslovani" />
        <h3 class="h2 fw-light">Halové veslování</h3>
      </a>
    </div>
  </div>
</section>
