<div class="menu">
  <div class="container">
    <nav class="menu__nav">
      <div class="row g-4">
        <div class="col-md-4">
          <a href="#" class="menu__title">o veslování</a>
          <ul class="menu__list">
            <li>
              <a class="" href="#">Veslování dnes</a>
            </li>
            <li>
              <a class="" href="#">Osobnosti & Historie </a>
            </li>

            <li>
              <a href="#">Pro média</a>
            </li>
          </ul>
          <a href="#" class="menu__title">Profily veslařů</a>
          <a href="#" class="menu__title">Fotogalerie</a>
          <a href="#" class="menu__title">Závody</a>
          <ul class="menu__list">
            <li>
              <a href="#">Termínovky, vypsání a rozlosování </a>
            </li>
            <li>
              <a href="#">Přihlášení do závodů </a>
            </li>

            <li>
              <a href="#">Výsledky </a>
            </li>
            <li>
              <a href="#">Reprezentace </a>
            </li>
            <li>
              <a href="#">Řády a pravidla </a>
            </li>
            <li>
              <a href="#">Safeguarding </a>
            </li>
          </ul>
          <a href="#" class="menu__title">ČVS</a>
          <ul class="menu__list">
            <li>
              <a href="#">Kontakt + Orgány </a>
            </li>
            <li>
              <a href="#">Úřední deska </a>
            </li>

            <li>
              <a href="#">Dokumenty ke stažení </a>
            </li>
            <li>
              <a href="#">Veslařské kluby a resortní cena </a>
            </li>
          </ul>
          <a href="#" class="menu__title">Trénink</a>
          <ul class="menu__list">
            <li>
              <a href="#">Vzdělávání trenérů </a>
            </li>
            <li>
              <a href="#">Antidoping </a>
            </li>
          </ul>
          <a href="#" class="menu__title">Mládež </a>
          <ul class="menu__list">
            <li>
              <a href="#">SCM & VSCM </a>
            </li>
            <li>
              <a href="#">SCM Development </a>
            </li>

            <li>
              <a href="#">Labská akademie veslování </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <a href="#" class="menu__title">O beach sprintu </a>
          <ul class="menu__list">
            <li>
              <a href="#">Beach sprint na OH </a>
            </li>
            <li>
              <a href="#">Osobnosti</a>
            </li>
            <li>
              <a href="#">Historie</a>
            </li>
          </ul>
          <a href="#" class="menu__title">Profily veslařů</a>
          <a href="#" class="menu__title">Fotogalerie</a>
          <a href="#" class="menu__title">Závody</a>
          <ul class="menu__list">
            <li>
              <a href="#">Termínovky, vypsání a rozlosování </a>
            </li>
            <li>
              <a href="#">Přihlášení do závodů </a>
            </li>
            <li>
              <a href="#">Výsledky</a>
            </li>
            <li>
              <a href="#">Reprezentace</a>
            </li>
            <li>
              <a href="#">Řády a pravidla</a>
            </li>
            <li>
              <a href="#">Safeguarding</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <a href="#" class="menu__title">O Halovém veslování </a>
          <ul class="menu__list">
            <li>
              <a href="#">Školní liga Česko vesluje </a>
            </li>
            <li>
              <a href="#">Firemní liga</a>
            </li>
            <li>
              <a href="#">Osobnosti</a>
            </li>
            <li>
              <a href="#">Historie</a>
            </li>
            <li>
              <a href="#">Pro média</a>
            </li>
          </ul>
          <a href="#" class="menu__title">Profily veslařů </a>
          <a href="#" class="menu__title">Fotogalerie</a>
          <a href="#" class="menu__title">Závody</a>
          <ul class="menu__list">
            <li>
              <a href="#">Termínovky, vypsání a rozlosování </a>
            </li>
            <li>
              <a href="#">Přihlášení do závodů </a>
            </li>
            <li>
              <a href="#">Výsledky</a>
            </li>
            <li>
              <a href="#">Reprezentace</a>
            </li>
            <li>
              <a href="#">Řády a pravidla</a>
            </li>
            <li>
              <a href="#">Safeguarding</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
