<section class="article-section">
  <div class="article-section__img">
    <img src="images/content/topAritcle.png" loading="lazy" alt="article" />
  </div>
  <div class="container">
    <div class="article-section__wrapper mb-9">
      <div class="article-section__content">
        <div class="article-section__head">
          <h1 class="h2 mb-lg-4 mb-3 fw-medium">
            Všechny medaile MČR ve sprintu jsou předány
          </h1>
          <div class="tags mb-5">
            <div class="tag tag-red">Hala</div>
            <ul class="tags__list">
              <li>10. 10. 2024</li>
              <li>Petr Skošdopole</li>
            </ul>
          </div>
          <div class="perex">
            Druhý říjnový víkend bude tradičně patřit distančnímu závodu v
            Uherském Hradišti. Pro mladé závodníky to bude po letní sezóně první
            test na šestikilometrové trati a zároveň možná vstupenka na sraz
            juniorských a U23 závodníků.
          </div>
        </div>
        <div class="o-content">
          <p class="">
            Všechny tyto metriky jsou ale zavádějící. Typicky doba strávená na
            stránce. Kdo říká, že 5 minut je dobře a 20 sekund špatně? Čtenáři s
            pětiminutovou návštěvou dost možná zoufale hledají informace a poté
            naštvaně odchází. Ti, kteří jsou hotoví za pár sekund, možná rychle
            našli potřebnou informaci a odchází naprosto spokojení. Podobně
            člověk, který dočetl článek až do konce – třeba byl jen hodně
            trpělivý a snažil se najít odpověď na svůj dotaz, byť ho nakonec
            nenašel. Naopak ten, co se už z perexu dozvěděl vše podstatné,
            odchází z textu s radostí. Nenavádíme vás k tomu, abyste tyto
            metriky okamžitě přestali řešit. Jen jejich význam moc nepřeceňujte.
          </p>
          <div class="photosBox">
            <div class="photosBox__item">
              <img
                src="images/content/photo-1.png"
                loading="lazy"
                alt="photo"
              />
            </div>
            <div class="photosBox__item">
              <img
                src="images/content/photo-2.png"
                loading="lazy"
                alt="photo"
              />
            </div>
            <div class="photosBox__item">
              <img
                src="images/content/photo-3.png"
                loading="lazy"
                alt="photo"
              />
            </div>
            <div class="photosBox__item">
              <img
                src="images/content/photo-4.png"
                loading="lazy"
                alt="photo"
              />
            </div>
            <div class="photosBox__item">
              <img
                src="images/content/photo-5.png"
                loading="lazy"
                alt="photo"
              />
            </div>
          </div>

          <p>
            Všechny tyto metriky jsou ale zavádějící. Typicky doba strávená na
            stránce. Kdo říká, že 5 minut je dobře a 20 sekund špatně? Čtenáři s
            pětiminutovou návštěvou dost možná zoufale hledají informace a poté
            naštvaně odchází. Ti, kteří jsou hotoví za pár sekund, možná rychle
            našli potřebnou informaci a odchází naprosto spokojení. Podobně
            člověk, který dočetl článek až do konce – třeba byl jen hodně
            trpělivý a snažil se najít odpověď na svůj dotaz, byť ho nakonec
            nenašel. Naopak ten, co se už z perexu dozvěděl vše podstatné,
            odchází z textu s radostí.
          </p>
          <p>
            Všechny tyto metriky jsou ale zavádějící. Typicky doba strávená na
            stránce. Kdo říká, že 5 minut je dobře a 20 sekund špatně? Čtenáři s
            pětiminutovou návštěvou dost možná zoufale hledají informace a poté
            naštvaně odchází. Ti, kteří jsou hotoví za pár sekund, možná rychle
            našli potřebnou informaci a odchází naprosto spokojení.
          </p>
          <p>
            Podobně člověk, který dočetl článek až do konce – třeba byl jen
            hodně trpělivý a snažil se najít odpověď na svůj dotaz, byť ho
            nakonec nenašel. Naopak ten, co se už z perexu dozvěděl vše
            podstatné, odchází z textu s radostí.
          </p>
          <p>
            Všechny tyto metriky jsou ale zavádějící. Typicky doba strávená na
            stránce. Kdo říká, že 5 minut je dobře a 20 sekund špatně? Čtenáři s
            pětiminutovou návštěvou dost možná zoufale hledají informace a poté
            naštvaně odchází. Ti, kteří jsou hotoví za pár sekund, možná rychle
            našli potřebnou informaci a odchází naprosto spokojení. Podobně
            člověk, který dočetl článek až do konce – třeba byl jen hodně
            trpělivý a snažil se najít odpověď na svůj dotaz, byť ho nakonec
            nenašel. Naopak ten, co se už z perexu dozvěděl vše podstatné,
            odchází z textu s radostí.Nenavádíme vás k tomu, abyste tyto metriky
            okamžitě přestali řešit. Jen jejich význam moc nepřeceňujte.
          </p>
          <blockquote>
            Oprávněné aniž i odstoupil o snadno osoby vede grafikou osobami
            úmyslu 60 % poskytovat, dělí způsobem, § 36 veletrhu pověřit
            spravují zřejmém,k před platbě státu zvláštních tuzemsku.
            <span> citoval František Hranfrantrkal </span>
          </blockquote>
          <p>
            Všechny tyto metriky jsou ale zavádějící. Typicky doba strávená na
            stránce. Kdo říká, že 5 minut je dobře a 20 sekund špatně? Čtenáři s
            pětiminutovou návštěvou dost možná zoufale hledají informace a poté
            naštvaně odchází. Ti, kteří jsou hotoví za pár sekund, možná rychle
            našli potřebnou informaci a odchází naprosto spokojení. Podobně
            člověk, který dočetl článek až do konce – třeba byl jen hodně
            trpělivý a snažil se najít odpověď na svůj dotaz, byť ho nakonec
            nenašel. Naopak ten, co se už z perexu dozvěděl vše podstatné,
            odchází z textu s radostí. Nenavádíme vás k tomu, abyste tyto
            metriky okamžitě přestali řešit. Jen jejich význam moc nepřeceňujte.
          </p>
        </div>
      </div>
      {% include "@components/aside/aside.twig" %}
    </div>
  </div>
  {% include "@components/posts/posts.twig" %} {% include
  "@components/topstory-section/topstory-section-footer.twig" %}
</section>
