<aside class="aside">
  <h2 class="h2 fw-light mb-lg-4 mb-3">Horké novinky</h2>
  <ul class="aside__news">
    <li>
      <div class="aside__news-item">
        <h4 class="h3 mb-1">Hradišťský šestikilák</h4>
        <div class="text-black-50 mb-12">10. 10. 2024</div>
        <p class="text-dark-72">
          Druhý říjnový víkend bude tradičně patřit distančnímu závodu v
          Uherském Hradišti. Pro mladé závodníky to bude po letní sezóně první
          test na šestikilometrové trati a zároveň možná vstupenka na sraz
          juniorských a U23 závodníků.
        </p>
      </div>
    </li>
    <li>
      <div class="aside__news-item">
        <h4 class="h3 mb-1">Head of Prague</h4>
        <div class="text-black-50 mb-12">2. 10. 2024</div>
        <p class="text-dark-72">
          Head of Prague - distanční závod osmiveslic Prahou s jednou otočkou.
          Start závodu je u Barrandovského mostu na podolské straně řeky, otočka
          mezi Palackého a Jiráskovým mostem a cíl na smíchovské straně na
          úrovni VK Blesk.
        </p>
      </div>
    </li>
    <li>
      <div class="aside__news-item">
        <h4 class="h3 mb-1">Hradišťský šestikilák</h4>
        <div class="text-black-50 mb-12">Hradišťský šestikilák</div>
        <p class="text-dark-72">
          Druhý říjnový víkend bude tradičně patřit distančnímu závodu v
          Uherském Hradišti. Pro mladé závodníky to bude po letní sezóně první
          test na šestikilometrové trati a zároveň možná vstupenka na sraz
          juniorských a U23 závodníků.
        </p>
      </div>
    </li>
    <li>
      <div class="aside__news-item">
        <h4 class="h3 mb-1">Head of Prague</h4>
        <div class="text-black-50 mb-12">2. 10. 2024</div>
        <p class="text-dark-72">
          Head of Prague - distanční závod osmiveslic Prahou s jednou otočkou.
          Start závodu je u Barrandovského mostu na podolské straně řeky, otočka
          mezi Palackého a Jiráskovým mostem a cíl na smíchovské straně na
          úrovni VK Blesk.
        </p>
      </div>
    </li>
  </ul>
</aside>
