.actionBox {
  border-radius: 12px;
  background-color: var(--color-light);
  box-shadow: 0px 1px 2px 0px rgba(41, 72, 123, 0.1);
  padding: 24px;
  height: 100%;
  .btn {
    border: none;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.3s;
  }
  .btn:hover {
    text-decoration-color: inherit;
  }
  &__date {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 16.63px;
  }
}
