.o-content {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  p {
    color: var(--color-dark-72);
    line-height: 22.4px;
  }
  p + p {
    margin-top: 16px;
  }
  blockquote {
    margin: 56px 0;
    @include media-breakpoint-down(lg) {
      margin: 40px 0;
    }
  }
  .perex {
    margin-bottom: 56px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 32px;
    }
  }
}
.h1,
.o-content h1 {
  font-size: 64px;
  font-weight: 500;
  line-height: 76.82px;
  @include media-breakpoint-down(lg) {
    font-size: 36px;
    line-height: 34px;
  }
}

.h2,
.o-content h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 57.61px;

  @include media-breakpoint-down(lg) {
    font-size: 32px;
    line-height: 40px;
  }
}
.perex {
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 28px;
  color: var(--color-dark-72);
  @include media-breakpoint-down(lg) {
    font-size: 18px;
    line-height: 26px;
  }
}

.h3,
.o-content h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.81px;
  @include media-breakpoint-down(lg) {
    font-size: 22px;
    line-height: 26px;
  }
}
.h4,
.o-content h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  @include media-breakpoint-down(lg) {
    font-size: 18px;
    line-height: 22px;
  }
}

.h6,
.o-content h6 {
  font-size: 14px;
  line-height: 20px;
}

.static-section {
  padding-top: 64px;
  background: rgba(242, 245, 252, 1);
  padding-bottom: 104px;
  @include media-breakpoint-down(lg) {
    padding-bottom: 64px;
    padding-top: 40px;
  }
}
