<div class="partners-section">
  <div class="partners-section__wrapper">
    <h2 class="mb-3">Generální partneři</h2>
    <div class="row g-lg-4 g-3">
      <div class="col-lg-6">
        <a href="#" class="partners-section__item">
          <img
            src="images/content/partners/1.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-lg-6">
        <a href="#" class="partners-section__item">
          <img
            src="images/content/partners/partner.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="partners-section__wrapper">
    <h2 class="mb-3">Prémioví partneři</h2>
    <div class="row g-lg-4 g-3">
      <div class="col-xl-3 col-md-4 col-6">
        <a href="#" class="partners-section__item">
          <img
            src="images/content/partners/6.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-3 col-md-4 col-6">
        <a href="#" class="partners-section__item">
          <img
            src="images/content/partners/5.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-3 col-md-4 col-6">
        <a href="#" class="partners-section__item">
          <img
            src="images/content/partners/3.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-3 col-md-4 col-6">
        <a href="#" class="partners-section__item">
          <img
            src="images/content/partners/4.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="partners-section__wrapper">
    <h2 class="mb-3">Partneři</h2>

    <div class="row g-lg-4 g-3">
      <div class="col-xl-2 col-lg-3 col-md-4 col-6">
        <a href="#" class="partners-section__item">
          <img
            src="images/content/partners/6.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-6">
        <a href="#" class="partners-section__item">
          <img
            src="images/content/partners/5.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-6">
        <a href="#" class="partners-section__item">
          <img
            src="images/content/partners/3.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-6">
        <a href="#" class="partners-section__item">
          <img
            src="images/content/partners/4.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-6">
        <a href="#" class="partners-section__item">
          <img
            src="images/content/partners/1.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-6">
        <a href="#" class="partners-section__item">
          <img
            src="images/content/partners/partner.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-6">
        <a href="#" class="partners-section__item">
          <img
            src="images/content/partners/2.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-6">
        <a href="#" class="partners-section__item">
          <img
            src="images/content/partners/5.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-6">
        <a href="#" class="partners-section__item">
          <img
            src="images/content/partners/6.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-6">
        <a href="#" class="partners-section__item">
          <img
            src="images/content/partners/5.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-6">
        <a href="#" class="partners-section__item">
          <img
            src="images/content/partners/3.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-6">
        <a href="#" class="partners-section__item">
          <img
            src="images/content/partners/4.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-6">
        <a href="#" class="partners-section__item">
          <img
            src="images/content/partners/1.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-6">
        <a href="#" class="partners-section__item">
          <img
            src="images/content/partners/partner.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-6">
        <a href="#" class="partners-section__item">
          <img
            src="images/content/partners/2.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-4 col-6">
        <a href="#" class="partners-section__item">
          <img
            src="images/content/partners/5.png"
            loading="lazy"
            alt="partner"
          />
        </a>
      </div>
    </div>
  </div>
</div>
