<section class="sportsmen-section mb-9">
  <div class="container">
    <h3 class="h2 text-center mb-lg-4 mb-3 fw-light">Sportovci</h3>
    <div class="row g-lg-4 g-3 mb-5">
      <div class="col-lg-4">
        <a href="#" class="sportsmenItem">
          <div class="sportsmenItem__img">
            <img
              src="images/content/sportsman-bg-1.png"
              loading="lazy"
              alt="sportsman"
            />
          </div>
          <div class="sportsmenItem__info">
            <div class="sportsmenItem__avatar">
              <img
                src="images/content/sport-3.png"
                loading="lazy"
                alt="sportsman"
              />
            </div>
            <h5 class="h3">Miroslav Vraštil</h5>
            <p class="text-dark-72">
              Minulý týden jsme na našich stránkách zveřejnili první část
              rozhovorů zaměřených na trendy ve sportu, o který se začalo mluvit
              v souvislosti s OH v Paříži. Na otázky nám odpověděli Ondřej
              Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal Kur rst,
              předseda ČVS.
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#" class="sportsmenItem">
          <div class="sportsmenItem__img">
            <img
              src="images/content/post-2.png"
              loading="lazy"
              alt="sportsman"
            />
          </div>
          <div class="sportsmenItem__info">
            <div class="sportsmenItem__avatar">
              <img
                src="images/content/sportsman-2.png"
                loading="lazy"
                alt="sportsman"
              />
            </div>
            <h5 class="h3">Jakub PODRAZIL</h5>
            <p class="text-dark-72">
              Minulý týden jsme na našich stránkách zveřejnili první část
              rozhovorů zaměřených na trendy ve sportu, o který se začalo mluvit
              v souvislosti s OH v Paříži. Na otázky nám odpověděli Ondřej
              Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal Kur rst,
              předseda ČVS.
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#" class="sportsmenItem">
          <div class="sportsmenItem__img">
            <img
              src="images/content/post-3.png"
              loading="lazy"
              alt="sportsman"
            />
          </div>
          <div class="sportsmenItem__info">
            <div class="sportsmenItem__avatar">
              <img
                src="images/content/sportsman-3.png"
                loading="lazy"
                alt="sportsman"
              />
            </div>
            <h5 class="h3">Lenka LUKŠOVÁ</h5>
            <p class="text-dark-72">
              Minulý týden jsme na našich stránkách zveřejnili první část
              rozhovorů zaměřených na trendy ve sportu, o který se začalo mluvit
              v souvislosti s OH v Paříži. Na otázky nám odpověděli Ondřej
              Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal Kur rst,
              předseda ČVS.
            </p>
          </div>
        </a>
      </div>
    </div>
    <a href="#" class="btn btn-arrow mx-auto"> Další profily sporrtovců </a>
  </div>
</section>
