<ul class="timeline add-scrolled">
  <div class="timeline__date">1920</div>

  <li class="timeline__item">
    <div class="timeline__icon">
      <span></span>
    </div>
    <details class="panel" open>
      <summary>
        <div class="panel__date">1982</div>
      </summary>
      <div class="panel__content">
        <div class="panel__info">
          <h2 class="h3">Zakládáme FK Hejčín</h2>
          <p>
            Všechny tyto metriky jsou ale zavádějící. Typicky doba strávená na
            stránce. Kdo říká, že 5 minut je dobře a 20 sekund špatně? Čtenáři s
            pětiminutovou návštěvou dost možná zoufale hledají informace a poté
            naštvaně odchází. Ti, kteří jsou hotoví za pár sekund, možná rychle
            našli potřebnou informaci a odchází naprosto spokojení.
          </p>
        </div>
        <ul class="panel__gallery">
          <li>
            <a href="images/content/post-2.png" data-fslightbox="gallery">
              <img
                src=" images/content/post-1.png"
                loading="lazy"
                alt="post-1"
              />
            </a>
          </li>
          <li>
            <a href="images/content/post-2.png" data-fslightbox="gallery">
              <img
                src=" images/content/post-1.png"
                loading="lazy"
                alt="post-1"
              />
            </a>
          </li>
          <li>
            <a href="images/content/post-2.png" data-fslightbox="gallery">
              <img
                src=" images/content/post-2.png"
                loading="lazy"
                alt="post-1"
              />
            </a>
          </li>
        </ul>
      </div>
    </details>
  </li>
  <li class="timeline__item">
    <div class="timeline__icon">
      <span></span>
    </div>
    <details class="panel" open>
      <summary>
        <div class="panel__date">1982</div>
      </summary>
      <div class="panel__content">
        <div class="panel__info">
          <h2 class="h3">Zakládáme FK Hejčín</h2>
          <p>
            Všechny tyto metriky jsou ale zavádějící. Typicky doba strávená na
            stránce. Kdo říká, že 5 minut je dobře a 20 sekund špatně? Čtenáři s
            pětiminutovou návštěvou dost možná zoufale hledají informace a poté
            naštvaně odchází. Ti, kteří jsou hotoví za pár sekund, možná rychle
            našli potřebnou informaci a odchází naprosto spokojení.
          </p>
        </div>
        <ul class="panel__gallery">
          <li>
            <a href="images/content/post-2.png" data-fslightbox="gallery">
              <img
                src=" images/content/post-2.png"
                loading="lazy"
                alt="post-1"
              />
            </a>
          </li>
        </ul>
      </div>
    </details>
  </li>

  <div class="timeline__date">1990</div>
  <div class="timeline__date">2000</div>
  <li class="timeline__item">
    <div class="timeline__icon">
      <span></span>
    </div>
    <details class="panel" open>
      <summary>
        <div class="panel__date">1982</div>
      </summary>
      <div class="panel__content">
        <div class="panel__info">
          <h2 class="h3">Zakládáme FK Hejčín</h2>
          <p>
            Všechny tyto metriky jsou ale zavádějící. Typicky doba strávená na
            stránce. Kdo říká, že 5 minut je dobře a 20 sekund špatně? Čtenáři s
            pětiminutovou návštěvou dost možná zoufale hledají informace a poté
            naštvaně odchází. Ti, kteří jsou hotoví za pár sekund, možná rychle
            našli potřebnou informaci a odchází naprosto spokojení.
          </p>
        </div>
        <ul class="panel__gallery">
          <li>
            <a href="images/content/post-2.png" data-fslightbox="gallery">
              <img
                src=" images/content/post-1.png"
                loading="lazy"
                alt="post-1"
              />
            </a>
          </li>
        </ul>
      </div>
    </details>
  </li>
  <div class="timeline__date">2010</div>
  <li class="timeline__item">
    <div class="timeline__icon">
      <span></span>
    </div>
    <details class="panel" open>
      <summary>
        <div class="panel__date">1982</div>
      </summary>
      <div class="panel__content">
        <div class="panel__info">
          <h2 class="h3">Zakládáme FK Hejčín</h2>
          <p>
            Všechny tyto metriky jsou ale zavádějící. Typicky doba strávená na
            stránce. Kdo říká, že 5 minut je dobře a 20 sekund špatně? Čtenáři s
            pětiminutovou návštěvou dost možná zoufale hledají informace a poté
            naštvaně odchází. Ti, kteří jsou hotoví za pár sekund, možná rychle
            našli potřebnou informaci a odchází naprosto spokojení.
          </p>
        </div>
        <ul class="panel__gallery">
          <li>
            <a href="images/content/post-2.png" data-fslightbox="gallery">
              <img
                src=" images/content/post-1.png"
                loading="lazy"
                alt="post-1"
              />
            </a>
          </li>
          <li>
            <a href="images/content/post-2.png" data-fslightbox="gallery">
              <img
                src=" images/content/post-2.png"
                loading="lazy"
                alt="post-1"
              />
            </a>
          </li>
        </ul>
      </div>
    </details>
  </li>
  <div class="timeline__date">2020</div>
</ul>
