<div class="clubsDatabase">
  <div class="clubsDatabase__head">
    <span class="fw-medium">Název klubu</span>
    <span>Adresa</span>
  </div>
  <div class="clubsDatabase__item">
    <a href="#">
      <img src="images/content/logo-club.png" loading="lazy" alt="club" />
      A-klub Hranice, z.s.
    </a>
    <p>Hromůvka 1511, Hranice 1</p>
  </div>
  <div class="clubsDatabase__item">
    <a href="#">
      <img src="images/content/logo-club.png" loading="lazy" alt="club" />
      A-klub Hranice, z.s.
    </a>
    <p>Hromůvka 1511, Hranice 1</p>
  </div>
  <div class="clubsDatabase__item">
    <a href="#">
      <img src="images/content/logo-club.png" loading="lazy" alt="club" />
      A-klub Hranice, z.s.
    </a>
    <p>Hromůvka 1511, Hranice 1</p>
  </div>
  <div class="clubsDatabase__item">
    <a href="#">
      <img src="images/content/logo-club.png" loading="lazy" alt="club" />
      A-klub Hranice, z.s.
    </a>
    <p>Hromůvka 1511, Hranice 1</p>
  </div>
  <div class="clubsDatabase__item">
    <a href="#">
      <img src="images/content/logo-club.png" loading="lazy" alt="club" />
      A-klub Hranice, z.s.
    </a>
    <p>Hromůvka 1511, Hranice 1</p>
  </div>
  <div class="clubsDatabase__item">
    <a href="#">
      <img src="images/content/logo-club.png" loading="lazy" alt="club" />
      A-klub Hranice, z.s.
    </a>
    <p>Hromůvka 1511, Hranice 1</p>
  </div>
  <div class="clubsDatabase__item">
    <a href="#">
      <img src="images/content/logo-club.png" loading="lazy" alt="club" />
      A-klub Hranice, z.s.
    </a>
    <p>Hromůvka 1511, Hranice 1</p>
  </div>
  <div class="clubsDatabase__item">
    <a href="#">
      <img src="images/content/logo-club.png" loading="lazy" alt="club" />
      A-klub Hranice, z.s.
    </a>
    <p>Hromůvka 1511, Hranice 1</p>
  </div>
  <div class="clubsDatabase__item">
    <a href="#">
      <img src="images/content/logo-club.png" loading="lazy" alt="club" />
      A-klub Hranice, z.s.
    </a>
    <p>Hromůvka 1511, Hranice 1</p>
  </div>
  <div class="clubsDatabase__item">
    <a href="#">
      <img src="images/content/logo-club.png" loading="lazy" alt="club" />
      A-klub Hranice, z.s.
    </a>
    <p>Hromůvka 1511, Hranice 1</p>
  </div>
</div>
