<div class="clubsDatabase">
  <div class="clubsDatabase__head">
    <span class="fw-medium">Název klubu</span>
    <span>Adresa</span>
  </div>
  <a href="#" class="clubsDatabase__item">
    <div class="clubsDatabase__item-team">
      <img src="images/content/logo-club.png" loading="lazy" alt="club" />
      A-klub Hranice, z.s.
    </div>
    <p>Hromůvka 1511, Hranice 1</p>
  </a>
  <a href="#" class="clubsDatabase__item">
    <div class="clubsDatabase__item-team">
      <img src="images/content/logo-club.png" loading="lazy" alt="club" />
      A-klub Hranice, z.s.
    </div>
    <p>Hromůvka 1511, Hranice 1</p>
  </a>
  <a href="#" class="clubsDatabase__item">
    <div class="clubsDatabase__item-team">
      <img src="images/content/logo-club.png" loading="lazy" alt="club" />
      A-klub Hranice, z.s.
    </div>
    <p>Hromůvka 1511, Hranice 1</p>
  </a>
  <a href="#" class="clubsDatabase__item">
    <div class="clubsDatabase__item-team">
      <img src="images/content/logo-club.png" loading="lazy" alt="club" />
      A-klub Hranice, z.s.
    </div>
    <p>Hromůvka 1511, Hranice 1</p>
  </a>
  <a href="#" class="clubsDatabase__item">
    <div class="clubsDatabase__item-team">
      <img src="images/content/logo-club.png" loading="lazy" alt="club" />
      A-klub Hranice, z.s.
    </div>
    <p>Hromůvka 1511, Hranice 1</p>
  </a>
  <a href="#" class="clubsDatabase__item">
    <div class="clubsDatabase__item-team">
      <img src="images/content/logo-club.png" loading="lazy" alt="club" />
      A-klub Hranice, z.s.
    </div>
    <p>Hromůvka 1511, Hranice 1</p>
  </a>
  <a href="#" class="clubsDatabase__item">
    <div class="clubsDatabase__item-team">
      <img src="images/content/logo-club.png" loading="lazy" alt="club" />
      A-klub Hranice, z.s.
    </div>
    <p>Hromůvka 1511, Hranice 1</p>
  </a>
  <a href="#" class="clubsDatabase__item">
    <div class="clubsDatabase__item-team">
      <img src="images/content/logo-club.png" loading="lazy" alt="club" />
      A-klub Hranice, z.s.
    </div>
    <p>Hromůvka 1511, Hranice 1</p>
  </a>
  <a href="#" class="clubsDatabase__item">
    <div class="clubsDatabase__item-team">
      <img src="images/content/logo-club.png" loading="lazy" alt="club" />
      A-klub Hranice, z.s.
    </div>
    <p>Hromůvka 1511, Hranice 1</p>
  </a>
  <a href="#" class="clubsDatabase__item">
    <div class="clubsDatabase__item-team">
      <img src="images/content/logo-club.png" loading="lazy" alt="club" />
      A-klub Hranice, z.s.
    </div>
    <p>Hromůvka 1511, Hranice 1</p>
  </a>
  <a href="#" class="clubsDatabase__item">
    <div class="clubsDatabase__item-team">
      <img src="images/content/logo-club.png" loading="lazy" alt="club" />
      A-klub Hranice, z.s.
    </div>
    <p>Hromůvka 1511, Hranice 1</p>
  </a>
   
</div>
