<footer class="footer">
  <div class="container">
    <div class="row g-4">
      <div class="col-xl-4">
        <a href="#" class="footer__logo">
          <img src="images/ico/footer-logo.svg" loading="lazy" alt="logo" />
        </a>
        <ul class="footer__social">
          <li>
            <a href="#" class="footer__social-item">
              {% include "@images/insta.svg" %}
            </a>
          </li>
          <li>
            <a href="#" class="footer__social-item">
              {% include "@images/fb.svg" %}
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xl-8">
        <div class="row g-lg-4 g-3">
          <div class="col-md-4 col-sm-6">
            <h6 class="mb-lg-3 mb-2 text-uppercase">Český veslařský svaz</h6>
            <p>
              Posláním Českého veslařského svazu je připravovat úspěšnou
              veslařskou reprezentaci a rozvíjet veslování v ČR ve všech jeho
              formách a na všech úrovních a propojovat ty, kteří mají rádi tento
              sport.
            </p>
          </div>
          <div class="col-md-4 col-sm-6">
            <h6 class="mb-lg-3 mb-2 text-uppercase">kontakt</h6>
            <p>
              Český veslařský svaz
              <br />
              Zátopkova 100/2
              <br />
              169 00 Praha6
            </p>
            <a class="mt-3 text-light-72 d-block" href="mailto:info@veslo.cz"
              >info@veslo.cz</a
            >
          </div>
          <div class="col-sm-4">
            <h6 class="mb-lg-3 mb-2 text-uppercase">Poslední příspěvky</h6>
            <ul class="footer__list">
              <li>
                <a href="#"
                  >Ukončení bodování v kategorii masters v roce 2024</a
                >
                <span>30. září 2024</span>
              </li>
              <li>
                <a href="#">World Rowing Mastrs Regatta</a>
                <span> 30. září 2024 </span>
              </li>
              <li>
                <a href="#">Rybník Svět hostil dvě mistrovství</a>
                <span> 30. září 2024 </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">2024 Český veslařský svaz</div>
  </div>
</footer>
