<section class="playerDetail">
  <div class="playerDetail__img">
    <img src="images/content/player-detail.png" loading="lazy" alt="bg" />
    <a
      data-fslightbox="gallery"
      href="images/content/sport-3.png"
      class="playerDetail__avatar"
    >
      <img src="images/content/sport-3.png" loading="lazy" alt="avatar" />
    </a>
  </div>
  <div class="playerDetail__wrapper">
    <div class="container">
      <h1 class="h1 text-center">Miroslav VRAŠTIL</h1>
      <ul class="playerDetail__logos">
        <li>
          <img src="images/content/dukla.png" alt="" />
        </li>
        <li>
          <img src="images/content/dukla.png" alt="" />
        </li>
      </ul>
      <div class="playerDetail__content">
        <div class="row g-4">
          <div class="col-lg-4">
            <div class="playerDetail__aside">
              <ul class="playerDetail__info">
                <li class="playerDetail__info-item">
                  <span>Datum narození:</span>
                  <span>1. 1. 1984</span>
                </li>
                <li class="playerDetail__info-item">
                  <span>Místo narození:</span>
                  <span>Olomouc</span>
                </li>
                <li class="playerDetail__info-item">
                  <span>Věk:</span>
                  <span>40</span>
                </li>
                <li class="playerDetail__info-item">
                  <span>Začátek kariéry:</span>
                  <span>2009</span>
                </li>
                <li class="playerDetail__info-item">
                  <span>Disciplíny:</span>
                  <span>4x LM, 2x LM</span>
                </li>
                <li class="playerDetail__info-item">
                  <span>Mateřský klub:</span>
                  <span>VK Olomouc</span>
                </li>
              </ul>
              <a href="#" class="btn btn-arrow mt-4">Odkaz na World Rowing</a>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="o-content">
              <div class="perex">
                Druhý říjnový víkend bude tradičně patřit distančnímu závodu v
                Uherském Hradišti. Pro mladé závodníky to bude po letní sezóně
                první test na šestikilometrové trati a zároveň možná vstupenka
                na sraz juniorských a U23 závodníků.
              </div>
              <p>
                Všechny tyto metriky jsou ale zavádějící. Typicky doba strávená
                na stránce. Kdo říká, že 5 minut je dobře a 20 sekund špatně?
                Čtenáři s pětiminutovou návštěvou dost možná zoufale hledají
                informace a poté naštvaně odchází. Ti, kteří jsou hotoví za pár
                sekund, možná rychle našli potřebnou informaci a odchází
                naprosto spokojení. Podobně člověk, který dočetl článek až do
                konce – třeba byl jen hodně trpělivý a snažil se najít odpověď
                na svůj dotaz, byť ho nakonec nenašel. Naopak ten, co se už z
                perexu dozvěděl vše podstatné, odchází z textu s radostí.
                Nenavádíme vás k tomu, abyste tyto metriky okamžitě přestali
                řešit. Jen jejich význam moc nepřeceňujte.
              </p>
            </div>
          </div>
        </div>
      </div>
      <h3 class="h2 text-center mb-lg-4 mb-3 fw-light">
        Související fotografie
      </h3>
      <div class="row g-lg-4 g-3 mb-9">
        <div class="col-md-4">
          <a
            href="images/content/post-3.png"
            class="playerDetail__photo"
            data-fslightbox="gallery"
          >
            <img src=" images/content/post-2.png" loading="lazy" alt="post-1" />
          </a>
        </div>
        <div class="col-md-4">
          <a
            href="images/content/post-3.png"
            class="playerDetail__photo"
            data-fslightbox="gallery"
          >
            <img src=" images/content/post-1.png" loading="lazy" alt="post-1" />
          </a>
        </div>
        <div class="col-md-4">
          <a
            href="images/content/post-3.png"
            class="playerDetail__photo"
            data-fslightbox="gallery"
          >
            <img src=" images/content/post-3.png" loading="lazy" alt="post-1" />
          </a>
        </div>
      </div>
      <div class="posts">
        <h3 class="h2 text-center mb-lg-4 mb-3 fw-light">Související články</h3>
        <div class="row g-lg-4 g-3 mb-4">
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="post">
              <div class="post__img">
                <img
                  src=" images/content/post-2.png"
                  loading="lazy"
                  alt="post-1"
                />
              </div>
              <div class="post__content">
                <div class="mb-4 tags">
                  <div class="tag tag-lightBlue">Beach</div>
                  <ul class="tags__list">
                    <li>10. 10. 2024</li>
                  </ul>
                </div>
                <h4 class="h3">MČR družstev má své vítěze</h4>
                <p>
                  Minulý týden jsme na našich stránkách zveřejnili první část
                  rozhovorů zaměřených na trendy ve sportu, o který se začalo
                  mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                  Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal
                  Kur rst, předseda ČVS.
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="post">
              <div class="post__img">
                <img
                  src=" images/content/post-2.png"
                  loading="lazy"
                  alt="post-1"
                />
              </div>
              <div class="post__content">
                <div class="mb-4 tags">
                  <div class="tag tag-lightBlue">Beach</div>
                  <ul class="tags__list">
                    <li>10. 10. 2024</li>
                  </ul>
                </div>
                <h4 class="h3">MČR družstev má své vítěze</h4>
                <p>
                  Minulý týden jsme na našich stránkách zveřejnili první část
                  rozhovorů zaměřených na trendy ve sportu, o který se začalo
                  mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                  Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal
                  Kur rst, předseda ČVS.
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="post">
              <div class="post__img">
                <img
                  src=" images/content/post-2.png"
                  loading="lazy"
                  alt="post-1"
                />
              </div>
              <div class="post__content">
                <div class="mb-4 tags">
                  <div class="tag tag-lightBlue">Beach</div>
                  <ul class="tags__list">
                    <li>10. 10. 2024</li>
                  </ul>
                </div>
                <h4 class="h3">MČR družstev má své vítěze</h4>
                <p>
                  Minulý týden jsme na našich stránkách zveřejnili první část
                  rozhovorů zaměřených na trendy ve sportu, o který se začalo
                  mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                  Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal
                  Kur rst, předseda ČVS.
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="#" class="post">
              <div class="post__img">
                <img
                  src=" images/content/post-2.png"
                  loading="lazy"
                  alt="post-1"
                />
              </div>
              <div class="post__content">
                <div class="mb-4 tags">
                  <div class="tag tag-lightBlue">Beach</div>
                  <ul class="tags__list">
                    <li>10. 10. 2024</li>
                  </ul>
                </div>
                <h4 class="h3">MČR družstev má své vítěze</h4>
                <p>
                  Minulý týden jsme na našich stránkách zveřejnili první část
                  rozhovorů zaměřených na trendy ve sportu, o který se začalo
                  mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                  Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal
                  Kur rst, předseda ČVS.
                </p>
              </div>
            </a>
          </div>
        </div>
        <a href="#" class="btn btn-arrow mx-auto"> Starší články </a>
      </div>
    </div>
  </div>
</section>
