<section class="playerDetail">
  <div class="playerDetail__img">
    <img src="images/content/player-detail.png" loading="lazy" alt="bg" />
    <div class="playerDetail__avatar">
      <img src="images/content/sportsman-1.png" loading="lazy" alt="avatar" />
    </div>
  </div>
  <div class="playerDetail__wrapper">
    <div class="container">
      <h1 class="h1 text-center">Miroslav VRAŠTIL</h1>
      <ul class="playerDetail__logos">
        <li>
          <img src="images/content/dukla.png" alt="" />
        </li>
        <li>
          <img src="images/content/dukla.png" alt="" />
        </li>
      </ul>
      <div class="playerDetail__content">
        <div class="row g-4">
          <div class="col-lg-4">
            <ul class="playerDetail__info">
              <li class="playerDetail__info-item">
                <span>Datum narození:</span>
                <span>1. 1. 1984</span>
              </li>
              <li class="playerDetail__info-item">
                <span>Místo narození:</span>
                <span>Olomouc</span>
              </li>
              <li class="playerDetail__info-item">
                <span>Věk:</span>
                <span>40</span>
              </li>
              <li class="playerDetail__info-item">
                <span>Začátek kariéry:</span>
                <span>2009</span>
              </li>
              <li class="playerDetail__info-item">
                <span>Disciplíny:</span>
                <span>4x LM, 2x LM</span>
              </li>
              <li class="playerDetail__info-item">
                <span>Mateřský klub:</span>
                <span>VK Olomouc</span>
              </li>
            </ul>
            <a href="#" class="btn btn-arrow mx-auto mt-6"
              >Odkaz na World Rowing</a
            >
          </div>
          <div class="col-lg-8">
            <div class="o-content">
              <div class="perex">
                Druhý říjnový víkend bude tradičně patřit distančnímu závodu v
                Uherském Hradišti. Pro mladé závodníky to bude po letní sezóně
                první test na šestikilometrové trati a zároveň možná vstupenka
                na sraz juniorských a U23 závodníků.
              </div>
              <p>
                Všechny tyto metriky jsou ale zavádějící. Typicky doba strávená
                na stránce. Kdo říká, že 5 minut je dobře a 20 sekund špatně?
                Čtenáři s pětiminutovou návštěvou dost možná zoufale hledají
                informace a poté naštvaně odchází. Ti, kteří jsou hotoví za pár
                sekund, možná rychle našli potřebnou informaci a odchází
                naprosto spokojení. Podobně člověk, který dočetl článek až do
                konce – třeba byl jen hodně trpělivý a snažil se najít odpověď
                na svůj dotaz, byť ho nakonec nenašel. Naopak ten, co se už z
                perexu dozvěděl vše podstatné, odchází z textu s radostí.
                Nenavádíme vás k tomu, abyste tyto metriky okamžitě přestali
                řešit. Jen jejich význam moc nepřeceňujte.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-lg-4 g-3">
        <div class="col-md-4">
          <a
            href="#"
            class="post"
            data-source="/veslo_cz/build/ajax-gallery.json"
            data-gallery-id="3"
          >
            <div class="playerDetail__photo">
              <img
                src=" images/content/post-2.png"
                loading="lazy"
                alt="post-1"
              />
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a
            href="#"
            class="post"
            data-source="/veslo_cz/build/ajax-gallery.json"
            data-gallery-id="3"
          >
            <div class="playerDetail__photo">
              <img
                src=" images/content/post-1.png"
                loading="lazy"
                alt="post-1"
              />
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a
            href="#"
            class="post"
            data-source="/veslo_cz/build/ajax-gallery.json"
            data-gallery-id="3"
          >
            <div class="playerDetail__photo">
              <img
                src=" images/content/post-3.png"
                loading="lazy"
                alt="post-1"
              />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
