<div class="archive">
  <div id="archive" class="row g-4">
    <div class="col-lg-12 col-md-6">
      <div class="archiveItem">
        <div class="row gx-4">
          <div class="col-lg-4">
            <div class="archiveItem__img">
              <img src="images/content/post-1.png" loading="lazy" alt="post" />
            </div>
          </div>
          <div class="col-lg-8">
            <div class="archiveItem__box">
              <div class="archiveItem__content">
                <div class="tags mb-4">
                  <div class="tag tag-lightBlue">Veslování</div>
                  <ul class="tags__list">
                    <div>10. 10. 2024</li>
                  </ul>
                </div>
                <h2 class="h3 mb-12">
                  Doháníme rozjetý vlak... Jsme na dobré cestě!
                </h2>
                <p class="text-dark-72">
                  Minulý týden jsme na našich stránkách zveřejnili první část
                  rozhovorů zaměřených na trendy ve sportu, o který se začalo
                  mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                  Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal
                  Kur rst, předseda ČVS.
                </p>
              </div>

              <a href="#" class="btn">Číst více</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-6">
      <div class="archiveItem">
        <div class="row gx-4">
          <div class="col-lg-4">
            <div class="archiveItem__img">
              <img src="images/content/post-2.png" loading="lazy" alt="post" />
            </div>
          </div>
          <div class="col-lg-8">
            <div class="archiveItem__box">
              <div class="archiveItem__content">
                <div class="tags mb-4">
                  <div class="tag tag-blue">Beach</div>
                  <ul class="tags__list">
                    <div>10. 10. 2024</li>
                  </ul>
                </div>
                <h2 class="h3 mb-12">MČR družstev má své vítěze</h2>
                <p class="text-dark-72">
                  Minulý týden jsme na našich stránkách zveřejnili první část
                  rozhovorů zaměřených na trendy ve sportu, o který se začalo
                  mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                  Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal
                  Kur rst, předseda ČVS.
                </p>
              </div>

              <a href="#" class="btn">Číst více</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-6">
      <div class="archiveItem">
        <div class="row gx-4">
          <div class="col-lg-4">
            <div class="archiveItem__img">
              <img src="images/content/post-3.png" loading="lazy" alt="post" />
            </div>
          </div>
          <div class="col-lg-8">
            <div class="archiveItem__box">
              <div class="archiveItem__content">
                <div class="tags mb-4">
                  <div class="tag tag-red">Hala</div>
                  <ul class="tags__list">
                    <div>10. 10. 2024</li>
                  </ul>
                </div>
                <h2 class="h3 mb-12">
                  Všechny medaile MČR ve sprintu jsou předány
                </h2>
                <p class="text-dark-72">
                  Minulý týden jsme na našich stránkách zveřejnili první část
                  rozhovorů zaměřených na trendy ve sportu, o který se začalo
                  mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                  Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal
                  Kur rst, předseda ČVS.
                </p>
              </div>

              <a href="#" class="btn">Číst více</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-6">
      <div class="archiveItem">
        <div class="row gx-4">
          <div class="col-lg-4">
            <div class="archiveItem__img">
              <img src="images/content/post-4.png" loading="lazy" alt="post" />
            </div>
          </div>
          <div class="col-lg-8">
            <div class="archiveItem__box">
              <div class="archiveItem__content">
                <div class="tags mb-4">
                  <div class="tag tag-lightBlue">Veslování</div>
                  <ul class="tags__list">
                    <div>10. 10. 2024</li>
                  </ul>
                </div>
                <h2 class="h3 mb-12">
                  Musíme naskočit do vlaku, který už odjel
                </h2>
                <p class="text-dark-72">
                  Minulý týden jsme na našich stránkách zveřejnili první část
                  rozhovorů zaměřených na trendy ve sportu, o který se začalo
                  mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                  Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal
                  Kur rst, předseda ČVS.
                </p>
              </div>

              <a href="#" class="btn">Číst více</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-6">
      <div class="archiveItem">
        <div class="row gx-4">
          <div class="col-lg-4">
            <div class="archiveItem__img">
              <img src="images/content/post-1.png" loading="lazy" alt="post" />
            </div>
          </div>
          <div class="col-lg-8">
            <div class="archiveItem__box">
              <div class="archiveItem__content">
                <div class="tags mb-4">
                  <div class="tag tag-lightBlue">Veslování</div>
                  <ul class="tags__list">
                    <div>10. 10. 2024</li>
                  </ul>
                </div>
                <h2 class="h3 mb-12">
                  Doháníme rozjetý vlak... Jsme na dobré cestě!
                </h2>
                <p class="text-dark-72">
                  Minulý týden jsme na našich stránkách zveřejnili první část
                  rozhovorů zaměřených na trendy ve sportu, o který se začalo
                  mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                  Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal
                  Kur rst, předseda ČVS.
                </p>
              </div>

              <a href="#" class="btn">Číst více</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-6">
      <div class="archiveItem">
        <div class="row gx-4">
          <div class="col-lg-4">
            <div class="archiveItem__img">
              <img src="images/content/post-2.png" loading="lazy" alt="post" />
            </div>
          </div>
          <div class="col-lg-8">
            <div class="archiveItem__box">
              <div class="archiveItem__content">
                <div class="tags mb-4">
                  <div class="tag tag-blue">Beach</div>
                  <ul class="tags__list">
                    <div>10. 10. 2024</li>
                  </ul>
                </div>
                <h2 class="h3 mb-12">MČR družstev má své vítěze</h2>
                <p class="text-dark-72">
                  Minulý týden jsme na našich stránkách zveřejnili první část
                  rozhovorů zaměřených na trendy ve sportu, o který se začalo
                  mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                  Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal
                  Kur rst, předseda ČVS.
                </p>
              </div>

              <a href="#" class="btn">Číst více</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-6">
      <div class="archiveItem">
        <div class="row gx-4">
          <div class="col-lg-4">
            <div class="archiveItem__img">
              <img src="images/content/post-3.png" loading="lazy" alt="post" />
            </div>
          </div>
          <div class="col-lg-8">
            <div class="archiveItem__box">
              <div class="archiveItem__content">
                <div class="tags mb-4">
                  <div class="tag tag-red">Hala</div>
                  <ul class="tags__list">
                    <div>10. 10. 2024</li>
                  </ul>
                </div>
                <h2 class="h3 mb-12">
                  Všechny medaile MČR ve sprintu jsou předány
                </h2>
                <p class="text-dark-72">
                  Minulý týden jsme na našich stránkách zveřejnili první část
                  rozhovorů zaměřených na trendy ve sportu, o který se začalo
                  mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                  Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal
                  Kur rst, předseda ČVS.
                </p>
              </div>

              <a href="#" class="btn">Číst více</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-6">
      <div class="archiveItem">
        <div class="row gx-4">
          <div class="col-lg-4">
            <div class="archiveItem__img">
              <img src="images/content/post-4.png" loading="lazy" alt="post" />
            </div>
          </div>
          <div class="col-lg-8">
            <div class="archiveItem__box">
              <div class="archiveItem__content">
                <div class="tags mb-4">
                  <div class="tag tag-lightBlue">Veslování</div>
                  <ul class="tags__list">
                    <div>10. 10. 2024</li>
                  </ul>
                </div>
                <h2 class="h3 mb-12">
                  Musíme naskočit do vlaku, který už odjel
                </h2>
                <p class="text-dark-72">
                  Minulý týden jsme na našich stránkách zveřejnili první část
                  rozhovorů zaměřených na trendy ve sportu, o který se začalo
                  mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                  Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal
                  Kur rst, předseda ČVS.
                </p>
              </div>

              <a href="#" class="btn">Číst více</a>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
  <button
    type="button"
    class="btn mx-auto js-fetchHTML btn-arrow mt-6"
    data-fetch-url="/veslo_cz/build/_archive.html"
    data-fetch-container="#archive"
    data-fetch-limit="3"
    data-text="načíst další  "
    data-text-fetching="Načítám..."
    data-text-error="Omluvte chybu, nepodařilo se načíst další aktuality"
  >
    Načíst další
  </button>
</div>
