<div class="archive">
  <div id="archive" class="row g-4">
    <div class="col-lg-12 col-md-6">
      <div class="archiveItem">
        <div class="row gx-4">
          <div class="col-lg-4">
            <a href="#" class="archiveItem__img">
              <img src="images/content/post-1.png" loading="lazy" alt="post" />
            </a>
          </div>
          <div class="col-lg-8">
            <div class="archiveItem__box">
              <div class="archiveItem__content">
                <div class="tags mb-4">
                  <div class="tag tag-lightBlue">Veslování</div>
                  <ul class="tags__list">
                    <div>10. 10. 2024</li>
                  </ul>
                </div>
               <a href="#">
                <h2 class="h3 mb-12">
                  Doháníme rozjetý vlak... Jsme na dobré cestě!
                </h2>
               </a>
                <p class="text-dark-72">
                  Minulý týden jsme na našich stránkách zveřejnili první část
                  rozhovorů zaměřených na trendy ve sportu, o který se začalo
                  mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                  Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal
                  Kur rst, předseda ČVS.
                </p>
              </div>

              <a href="#" class="btn btn-arrow">Číst více</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-6">
      <div class="archiveItem">
        <div class="row gx-4">
          <div class="col-lg-4">
            <a href="#" class="archiveItem__img">
              <img src="images/content/post-2.png" loading="lazy" alt="post" />
            </a>
          </div>
          <div class="col-lg-8">
            <div class="archiveItem__box">
              <div class="archiveItem__content">
                <div class="tags mb-4">
                  <div class="tag tag-blue">Beach</div>
                  <ul class="tags__list">
                    <div>10. 10. 2024</li>
                  </ul>
                </div>
                <a href="#">
                  <h2 class="h3 mb-12">MČR družstev má své vítěze</h2>
                </a>
                <p class="text-dark-72">
                  Minulý týden jsme na našich stránkách zveřejnili první část
                  rozhovorů zaměřených na trendy ve sportu, o který se začalo
                  mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                  Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal
                  Kur rst, předseda ČVS.
                </p>
              </div>

              <a href="#" class="btn btn-arrow">Číst více</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-6">
      <div class="archiveItem">
        <div class="row gx-4">
          <div class="col-lg-4">
            <a href="#" class="archiveItem__img">
              <img src="images/content/post-3.png" loading="lazy" alt="post" />
            </a>
          </div>
          <div class="col-lg-8">
            <div class="archiveItem__box">
              <div class="archiveItem__content">
                <div class="tags mb-4">
                  <div class="tag tag-red">Hala</div>
                  <ul class="tags__list">
                    <div>10. 10. 2024</li>
                  </ul>
                </div>
                 <a href="#">
                  <h2 class="h3 mb-12">
                    Všechny medaile MČR ve sprintu jsou předány
                  </h2>
                 </a>
                <p class="text-dark-72">
                  Minulý týden jsme na našich stránkách zveřejnili první část
                  rozhovorů zaměřených na trendy ve sportu, o který se začalo
                  mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                  Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal
                  Kur rst, předseda ČVS.
                </p>
              </div>

              <a href="#" class="btn btn-arrow">Číst více</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-6">
      <div class="archiveItem">
        <div class="row gx-4">
          <div class="col-lg-4">
            <a href="#" class="archiveItem__img">
              <img src="images/content/post-4.png" loading="lazy" alt="post" />
            </a>
          </div>
          <div class="col-lg-8">
            <div class="archiveItem__box">
              <div class="archiveItem__content">
                <div class="tags mb-4">
                  <div class="tag tag-lightBlue">Veslování</div>
                  <ul class="tags__list">
                    <div>10. 10. 2024</li>
                  </ul>
                </div>
                <a href="#">
                  <h2 class="h3 mb-12">
                    Musíme naskočit do vlaku, který už odjel
                  </h2>
                </a>
                <p class="text-dark-72">
                  Minulý týden jsme na našich stránkách zveřejnili první část
                  rozhovorů zaměřených na trendy ve sportu, o který se začalo
                  mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                  Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal
                  Kur rst, předseda ČVS.
                </p>
              </div>

              <a href="#" class="btn btn-arrow">Číst více</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-6">
      <div class="archiveItem">
        <div class="row gx-4">
          <div class="col-lg-4">
            <a href="#" class="archiveItem__img">
              <img src="images/content/post-1.png" loading="lazy" alt="post" />
            </a>
          </div>
          <div class="col-lg-8">
            <div class="archiveItem__box">
              <div class="archiveItem__content">
                <div class="tags mb-4">
                  <div class="tag tag-lightBlue">Veslování</div>
                  <ul class="tags__list">
                    <div>10. 10. 2024</li>
                  </ul>
                </div>
               <a href="#">
                <h2 class="h3 mb-12">
                  Doháníme rozjetý vlak... Jsme na dobré cestě!
                </h2>
               </a>
                <p class="text-dark-72">
                  Minulý týden jsme na našich stránkách zveřejnili první část
                  rozhovorů zaměřených na trendy ve sportu, o který se začalo
                  mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                  Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal
                  Kur rst, předseda ČVS.
                </p>
              </div>

              <a href="#" class="btn btn-arrow">Číst více</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-6">
      <div class="archiveItem">
        <div class="row gx-4">
          <div class="col-lg-4">
            <a href="#" class="archiveItem__img">
              <img src="images/content/post-2.png" loading="lazy" alt="post" />
            </a>
          </div>
          <div class="col-lg-8">
            <div class="archiveItem__box">
              <div class="archiveItem__content">
                <div class="tags mb-4">
                  <div class="tag tag-blue">Beach</div>
                  <ul class="tags__list">
                    <div>10. 10. 2024</li>
                  </ul>
                </div>
                <a href="#">
                  <h2 class="h3 mb-12">MČR družstev má své vítěze</h2>
                </a>
                <p class="text-dark-72">
                  Minulý týden jsme na našich stránkách zveřejnili první část
                  rozhovorů zaměřených na trendy ve sportu, o který se začalo
                  mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                  Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal
                  Kur rst, předseda ČVS.
                </p>
              </div>

              <a href="#" class="btn btn-arrow">Číst více</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-6">
      <div class="archiveItem">
        <div class="row gx-4">
          <div class="col-lg-4">
            <a href="#" class="archiveItem__img">
              <img src="images/content/post-3.png" loading="lazy" alt="post" />
            </a>
          </div>
          <div class="col-lg-8">
            <div class="archiveItem__box">
              <div class="archiveItem__content">
                <div class="tags mb-4">
                  <div class="tag tag-red">Hala</div>
                  <ul class="tags__list">
                    <div>10. 10. 2024</li>
                  </ul>
                </div>
                 <a href="#">
                  <h2 class="h3 mb-12">
                    Všechny medaile MČR ve sprintu jsou předány
                  </h2>
                 </a>
                <p class="text-dark-72">
                  Minulý týden jsme na našich stránkách zveřejnili první část
                  rozhovorů zaměřených na trendy ve sportu, o který se začalo
                  mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                  Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal
                  Kur rst, předseda ČVS.
                </p>
              </div>

              <a href="#" class="btn btn-arrow">Číst více</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-6">
      <div class="archiveItem">
        <div class="row gx-4">
          <div class="col-lg-4">
            <a href="#" class="archiveItem__img">
              <img src="images/content/post-4.png" loading="lazy" alt="post" />
            </a>
          </div>
          <div class="col-lg-8">
            <div class="archiveItem__box">
              <div class="archiveItem__content">
                <div class="tags mb-4">
                  <div class="tag tag-lightBlue">Veslování</div>
                  <ul class="tags__list">
                    <div>10. 10. 2024</li>
                  </ul>
                </div>
                <a href="#">
                  <h2 class="h3 mb-12">
                    Musíme naskočit do vlaku, který už odjel
                  </h2>
                </a>
                <p class="text-dark-72">
                  Minulý týden jsme na našich stránkách zveřejnili první část
                  rozhovorů zaměřených na trendy ve sportu, o který se začalo
                  mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                  Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a Michal
                  Kur rst, předseda ČVS.
                </p>
              </div>

              <a href="#" class="btn btn-arrow">Číst více</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
   </div>
   <nav aria-label="Další stránky">
    <ul class="pagination d-flex flex-wrap pagination-flat pagination-success">
      <li class="page-item">
        <a class="page-link" href="#" data-abc="true">
          <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 13L1 7l6-6" stroke="#fff" stroke-linecap="square" />
          </svg> </a>
      </li>
      <li class="page-item active">
        <a class="page-link" href="#" data-abc="true">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" data-abc="true">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" data-abc="true">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" data-abc="true">4</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" data-abc="true">
          <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1l6 6-6 6" stroke="#fff" stroke-linecap="square" />
          </svg> </a>
      </li>
    </ul>
  </nav>
</div>
