<a href="#" class="post">
  <div class="post__img">
    <img src=" images/content/post-2.png" loading="lazy" alt="post-1" />
  </div>
  <div class="post__content">
    <h4 class="h3">Doháníme rozjetý vlak... Jsme na dobré cestě!</h4>
    <p>
      Minulý týden jsme na našich stránkách zveřejnili první část rozhovorů
      zaměřených na trendy ve sportu, o který se začalo mluvit v souvislosti s
      OH v Paříži. Na otázky nám odpověděli Ondřej Šebek, předseda NSA, Jiří
      Kejval, předseda ČOV a Michal Kur rst, předseda ČVS.
    </p>
  </div>
</a>
