{% extends "@components/base/base.twig" %} {% set title = "02.0_aritcle" %} {%
block main %}
<div class="base">
  {% include "@components/header/header-default.twig" %}
  <main class="main" aria-label="Hlavní obsah">
    {% include "@components/article-section/article-section.twig" %} {% include
    "@components/posts/posts.twig" %}
    {% include "@components/topstory-section/topstory-section-footer.twig" %}
  </main>
  {% include "@components/footer/footer.twig" %}
</div>

{% endblock %}
