{% extends "@components/base/base.twig" %} {% set title = "11.0_representation"
%} {% block main %}
<div class="base">
  {% include "@components/header/header-default.twig" %}
  <main class="main" aria-label="Hlavní obsah">
    <section class="static-section">
      <div class="container">
        <h1 class="h2 fw-light mb-lg-4 mb-3">Novinky z reprezentace</h1>
        <div class="mb-9 posts">
          <div class="row g-lg-4 g-3 mb-4">
            <div class="col-lg-3 col-sm-6">
              <a href="#" class="post">
                <div class="post__img">
                  <img
                    src=" images/content/post-2.png"
                    loading="lazy"
                    alt="post-1"
                  />
                </div>
                <div class="post__content">
                  <div class="mb-4 tags">
                    <div class="tag tag-blue">Beach</div>
                    <ul class="tags__list">
                      <li>10. 10. 2024</li>
                    </ul>
                  </div>
                  <h4 class="h3">MČR družstev má své vítěze</h4>
                  <p>
                    Minulý týden jsme na našich stránkách zveřejnili první část
                    rozhovorů zaměřených na trendy ve sportu, o který se začalo
                    mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                    Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a
                    Michal Kur rst, předseda ČVS.
                  </p>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-sm-6">
              <a href="#" class="post">
                <div class="post__img">
                  <img
                    src=" images/content/post-2.png"
                    loading="lazy"
                    alt="post-1"
                  />
                </div>
                <div class="post__content">
                  <div class="mb-4 tags">
                    <div class="tag tag-blue">Beach</div>
                    <ul class="tags__list">
                      <li>10. 10. 2024</li>
                    </ul>
                  </div>
                  <h4 class="h3">MČR družstev má své vítěze</h4>
                  <p>
                    Minulý týden jsme na našich stránkách zveřejnili první část
                    rozhovorů zaměřených na trendy ve sportu, o který se začalo
                    mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                    Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a
                    Michal Kur rst, předseda ČVS.
                  </p>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-sm-6">
              <a href="#" class="post">
                <div class="post__img">
                  <img
                    src=" images/content/post-2.png"
                    loading="lazy"
                    alt="post-1"
                  />
                </div>
                <div class="post__content">
                  <div class="mb-4 tags">
                    <div class="tag tag-blue">Beach</div>
                    <ul class="tags__list">
                      <li>10. 10. 2024</li>
                    </ul>
                  </div>
                  <h4 class="h3">MČR družstev má své vítěze</h4>
                  <p>
                    Minulý týden jsme na našich stránkách zveřejnili první část
                    rozhovorů zaměřených na trendy ve sportu, o který se začalo
                    mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                    Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a
                    Michal Kur rst, předseda ČVS.
                  </p>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-sm-6">
              <a href="#" class="post">
                <div class="post__img">
                  <img
                    src=" images/content/post-2.png"
                    loading="lazy"
                    alt="post-1"
                  />
                </div>
                <div class="post__content">
                  <div class="mb-4 tags">
                    <div class="tag tag-blue">Beach</div>
                    <ul class="tags__list">
                      <li>10. 10. 2024</li>
                    </ul>
                  </div>
                  <h4 class="h3">MČR družstev má své vítěze</h4>
                  <p>
                    Minulý týden jsme na našich stránkách zveřejnili první část
                    rozhovorů zaměřených na trendy ve sportu, o který se začalo
                    mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                    Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a
                    Michal Kur rst, předseda ČVS.
                  </p>
                </div>
              </a>
            </div>
          </div>
          <a href="#" class="btn btn-arrow mx-auto"> Starší články </a>
        </div>
        <div class="mb-9">
          <h3 class="h2 text-center mb-lg-4 mb-3 fw-light">Kalendář akcí</h3>
          <div class="row g-lg-4 g-3">
            <div class="col-lg-4 col-sm-6">
              <div class="actionBox">
                <div class="tag tag-lightBlue mb-lg-4 mb-3">Veslování</div>
                <h4 class="h3 mb-1">
                  Doháníme rozjetý vlak... Jsme na dobré cestě!
                </h4>
                <div class="actionBox__date">20. 10. 2024 – 3. 11. 2024</div>
                <a href="#" class="btn btn-arrow ps-0 mt-lg-4 mt-3"
                  >Více infromací</a
                >
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="actionBox">
                <div class="tag tag-lightBlue mb-lg-4 mb-3">Veslování</div>
                <h4 class="h3 mb-1">Český pohár ve veslování 2024</h4>
                <div class="actionBox__date">20. 10. 2024 – 3. 11. 2024</div>
                <a href="#" class="btn btn-arrow ps-0 mt-lg-4 mt-3"
                  >Více infromací</a
                >
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="actionBox">
                <div class="tag tag-lightBlue mb-lg-4 mb-3">Veslování</div>
                <h4 class="h3 mb-1">
                  Musíme naskočit do vlaku, který už odjel
                </h4>
                <div class="actionBox__date">20. 10. 2024 – 3. 11. 2024</div>
                <a href="#" class="btn btn-arrow ps-0 mt-lg-4 mt-3"
                  >Více infromací</a
                >
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="actionBox">
                <div class="tag tag-lightBlue mb-lg-4 mb-3">Veslování</div>
                <h4 class="h3 mb-1">Český pohár ve veslování 2024</h4>
                <div class="actionBox__date">20. 10. 2024 – 3. 11. 2024</div>
                <a href="#" class="btn btn-arrow ps-0 mt-lg-4 mt-3"
                  >Více infromací</a
                >
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="actionBox">
                <div class="tag tag-lightBlue mb-lg-4 mb-3">Veslování</div>
                <h4 class="h3 mb-1">
                  Všechny medaile MČR ve sprintu jsou předány
                </h4>
                <div class="actionBox__date">20. 10. 2024 – 3. 11. 2024</div>
                <a href="#" class="btn btn-arrow ps-0 mt-lg-4 mt-3"
                  >Více infromací</a
                >
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="actionBox">
                <div class="tag tag-lightBlue mb-lg-4 mb-3">Veslování</div>
                <h4 class="h3 mb-1">MČR družstev má své vítěze</h4>
                <div class="actionBox__date">20. 10. 2024 – 3. 11. 2024</div>
                <a href="#" class="btn btn-arrow ps-0 mt-lg-4 mt-3"
                  >Více infromací</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="representation-section bg-transparent">
          <h3 class="h2 text-center mb-lg-4 mb-3 fw-light">Sportovci</h3>
          <div class="clubsDatabase">
            <div class="clubsDatabase__head">
              <span class="fw-medium">Název klubu</span>
              <span>Datum narození</span>
              <span>Klub</span>
            </div>
            <a href="#" class="clubsDatabase__item">
              <div class="clubsDatabase__item-team">
                <img
                  src="images/content/sportsman-1.png"
                  loading="lazy"
                  alt="avatar"
                />
                František Svoboda
              </div>
              <p>12. 12. 1990</p>
              <p>ASC Dukla Praha</p>
            </a>
            <a href="#" class="clubsDatabase__item">
              <div class="clubsDatabase__item-team">
                <img
                  src="images/content/sportsman-1.png"
                  loading="lazy"
                  alt="avatar"
                />
                František Svoboda
              </div>
              <p>12. 12. 1990</p>
              <p>ASC Dukla Praha</p>
            </a>
            <a href="#" class="clubsDatabase__item">
              <div class="clubsDatabase__item-team">
                <img
                  src="images/content/sportsman-1.png"
                  loading="lazy"
                  alt="avatar"
                />
                František Svoboda
              </div>
              <p>12. 12. 1990</p>
              <p>ASC Dukla Praha</p>
            </a>
            <a href="#" class="clubsDatabase__item">
              <div class="clubsDatabase__item-team">
                <img
                  src="images/content/sportsman-1.png"
                  loading="lazy"
                  alt="avatar"
                />
                František Svoboda
              </div>
              <p>12. 12. 1990</p>
              <p>ASC Dukla Praha</p>
            </a>
            <a href="#" class="clubsDatabase__item">
              <div class="clubsDatabase__item-team">
                <img
                  src="images/content/sportsman-1.png"
                  loading="lazy"
                  alt="avatar"
                />
                František Svoboda
              </div>
              <p>12. 12. 1990</p>
              <p>ASC Dukla Praha</p>
            </a>
            <a href="#" class="clubsDatabase__item">
              <div class="clubsDatabase__item-team">
                <img
                  src="images/content/sportsman-1.png"
                  loading="lazy"
                  alt="avatar"
                />
                František Svoboda
              </div>
              <p>12. 12. 1990</p>
              <p>ASC Dukla Praha</p>
            </a>
            <a href="#" class="clubsDatabase__item">
              <div class="clubsDatabase__item-team">
                <img
                  src="images/content/sportsman-1.png"
                  loading="lazy"
                  alt="avatar"
                />
                František Svoboda
              </div>
              <p>12. 12. 1990</p>
              <p>ASC Dukla Praha</p>
            </a>
            <a href="#" class="clubsDatabase__item">
              <div class="clubsDatabase__item-team">
                <img
                  src="images/content/sportsman-1.png"
                  loading="lazy"
                  alt="avatar"
                />
                František Svoboda
              </div>
              <p>12. 12. 1990</p>
              <p>ASC Dukla Praha</p>
            </a>
            <a href="#" class="clubsDatabase__item">
              <div class="clubsDatabase__item-team">
                <img
                  src="images/content/sportsman-1.png"
                  loading="lazy"
                  alt="avatar"
                />
                František Svoboda
              </div>
              <p>12. 12. 1990</p>
              <p>ASC Dukla Praha</p>
            </a>
            <a href="#" class="clubsDatabase__item">
              <div class="clubsDatabase__item-team">
                <img
                  src="images/content/sportsman-1.png"
                  loading="lazy"
                  alt="avatar"
                />
                František Svoboda
              </div>
              <p>12. 12. 1990</p>
              <p>ASC Dukla Praha</p>
            </a>
            <a href="#" class="clubsDatabase__item">
              <div class="clubsDatabase__item-team">
                <img
                  src="images/content/sportsman-1.png"
                  loading="lazy"
                  alt="avatar"
                />
                František Svoboda
              </div>
              <p>12. 12. 1990</p>
              <p>ASC Dukla Praha</p>
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
  {% include "@components/footer/footer.twig" %}
</div>

{% endblock %}
