{% extends "@components/base/base.twig" %} {% set title = "12.0_club-detail" %}
{% block main %}
<div class="base">
  {% include "@components/header/header-default.twig" %}
  <main class="main" aria-label="Hlavní obsah">
    <section class="static-section">
      <div class="container">
      
    
        {% include "@components/clubDetail/clubDetail.twig" %}
        
        <div class="mb-9 posts">
          <h3 class="h2 text-center mb-lg-4 mb-3 fw-light">Články</h3>
          <div class="row g-lg-4 g-3 mb-4">
            <div class="col-lg-3 col-sm-6">
              <a href="#" class="post">
                <div class="post__img">
                  <img
                    src=" images/content/post-2.png"
                    loading="lazy"
                    alt="post-1"
                  />
                </div>
                <div class="post__content">
                  <div class="mb-4 tags">
                    <div class="tag tag-lightBlue">Beach</div>
                    <ul class="tags__list">
                      <li>10. 10. 2024</li>
                    </ul>
                  </div>
                  <h4 class="h3">MČR družstev má své vítěze</h4>
                  <p>
                    Minulý týden jsme na našich stránkách zveřejnili první část
                    rozhovorů zaměřených na trendy ve sportu, o který se začalo
                    mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                    Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a
                    Michal Kur rst, předseda ČVS.
                  </p>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-sm-6">
              <a href="#" class="post">
                <div class="post__img">
                  <img
                    src=" images/content/post-2.png"
                    loading="lazy"
                    alt="post-1"
                  />
                </div>
                <div class="post__content">
                  <div class="mb-4 tags">
                    <div class="tag tag-lightBlue">Beach</div>
                    <ul class="tags__list">
                      <li>10. 10. 2024</li>
                    </ul>
                  </div>
                  <h4 class="h3">MČR družstev má své vítěze</h4>
                  <p>
                    Minulý týden jsme na našich stránkách zveřejnili první část
                    rozhovorů zaměřených na trendy ve sportu, o který se začalo
                    mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                    Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a
                    Michal Kur rst, předseda ČVS.
                  </p>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-sm-6">
              <a href="#" class="post">
                <div class="post__img">
                  <img
                    src=" images/content/post-2.png"
                    loading="lazy"
                    alt="post-1"
                  />
                </div>
                <div class="post__content">
                  <div class="mb-4 tags">
                    <div class="tag tag-lightBlue">Beach</div>
                    <ul class="tags__list">
                      <li>10. 10. 2024</li>
                    </ul>
                  </div>
                  <h4 class="h3">MČR družstev má své vítěze</h4>
                  <p>
                    Minulý týden jsme na našich stránkách zveřejnili první část
                    rozhovorů zaměřených na trendy ve sportu, o který se začalo
                    mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                    Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a
                    Michal Kur rst, předseda ČVS.
                  </p>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-sm-6">
              <a href="#" class="post">
                <div class="post__img">
                  <img
                    src=" images/content/post-2.png"
                    loading="lazy"
                    alt="post-1"
                  />
                </div>
                <div class="post__content">
                  <div class="mb-4 tags">
                    <div class="tag tag-lightBlue">Beach</div>
                    <ul class="tags__list">
                      <li>10. 10. 2024</li>
                    </ul>
                  </div>
                  <h4 class="h3">MČR družstev má své vítěze</h4>
                  <p>
                    Minulý týden jsme na našich stránkách zveřejnili první část
                    rozhovorů zaměřených na trendy ve sportu, o který se začalo
                    mluvit v souvislosti s OH v Paříži. Na otázky nám odpověděli
                    Ondřej Šebek, předseda NSA, Jiří Kejval, předseda ČOV a
                    Michal Kur rst, předseda ČVS.
                  </p>
                </div>
              </a>
            </div>
          </div>
          <a href="#" class="btn btn-arrow mx-auto"> Starší články </a>
        </div>
        <div class="posts">
          <h3 class="h2 text-center mb-lg-4 mb-3 fw-light">Fotogalerie</h3>
          <div class="row g-lg-4 g-3 mb-4">
            <div class="col-lg-3 col-sm-6">
              <a
                href="#"
                class="post"
                data-source="/veslo_cz/build/ajax-gallery.json"
                data-gallery-id="3"
              >
                <div class="post__img">
                  <img
                    src=" images/content/post-2.png"
                    loading="lazy"
                    alt="post-1"
                  />
                </div>
                <div class="post__content">
                  <div class="tag tag-blue mb-12">Beach</div>
                  <h2 class="h3">
                    Doháníme rozjetý vlak... Jsme na dobré cestě!
                  </h2>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-sm-6">
              <a
                href="#"
                class="post"
                data-source="/veslo_cz/build/ajax-gallery.json"
                data-gallery-id="3"
              >
                <div class="post__img">
                  <img
                    src=" images/content/post-1.png"
                    loading="lazy"
                    alt="post-1"
                  />
                </div>
                <div class="post__content">
                  <div class="tag tag-red mb-12">Hala</div>
                  <h2 class="h3">
                    Doháníme rozjetý vlak... Jsme na dobré cestě!
                  </h2>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-sm-6">
              <a
                href="#"
                class="post"
                data-source="/veslo_cz/build/ajax-gallery.json"
                data-gallery-id="3"
              >
                <div class="post__img">
                  <img
                    src=" images/content/post-3.png"
                    loading="lazy"
                    alt="post-1"
                  />
                </div>
                <div class="post__content">
                  <div class="tag tag-lightBlue mb-12">Veslování</div>
                  <h2 class="h3">
                    Doháníme rozjetý vlak... Jsme na dobré cestě!
                  </h2>
                </div>
              </a>
            </div>
            <div class="col-lg-3 col-sm-6">
              <a
                href="#"
                class="post"
                data-source="/veslo_cz/build/ajax-gallery.json"
                data-gallery-id="3"
              >
                <div class="post__img">
                  <img
                    src=" images/content/post-4.png"
                    loading="lazy"
                    alt="post-1"
                  />
                </div>
                <div class="post__content">
                  <div class="tag tag-blue mb-12">Beach</div>
                  <h2 class="h3">
                    Doháníme rozjetý vlak... Jsme na dobré cestě!
                  </h2>
                </div>
              </a>
            </div>
          </div>
          <a href="#" class="btn btn-arrow mx-auto"> Načíst další </a>
        </div>
      </div>
    </section>
  </main>
  {% include "@components/footer/footer.twig" %}
</div>

{% endblock %}
