{% extends "@components/base/base.twig" %} {% set title = "15.0_static" %} {%
block main %}
<div class="base">
  {% include "@components/header/header-default.twig" %}
  <main class="main" aria-label="Hlavní obsah">
    <section class="static-section pt-0">
      <div class="article-section__img">
        <img src="images/content/topAritcle.png" loading="lazy" alt="article" />
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-lg-9 col-md-10 mx-auto">
            <h1 class="h1 fw-light mb-lg-4 mb-3">Page headline</h1>
            <div class="o-content">
              <div class="perex">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatibus totam a, aliquam at dolore numquam commodi
                molestias perferendis iure eius distinctio est, quam sequi illo
                nulla fugit non possimus aut? Ullam excepturi accusamus corrupti
                possimus minima ut omnis aut tenetur fugit deserunt, quibusdam
                quo laborum ab culpa unde consectetur, corporis distinctio hic
                error? Natus consequatur quam ipsa neque molestias ad. Qui,
                doloremque perspiciatis aperiam
              </div>
              <div class="perex">
                <strong
                  >Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Voluptatibus totam a, aliquam at dolore numquam commodi
                  molestias perferendis iure eius distinctio est, quam sequi
                  illo nulla fugit non possimus aut? Ullam excepturi accusamus
                  corrupti possimus minima ut omnis aut tenetur fugit deserunt,
                  quibusdam quo laborum ab culpa unde consectetur, corporis
                  distinctio hic error? Natus consequatur quam ipsa neque
                  molestias ad. Qui, doloremque perspiciatis aperiam</strong
                >
              </div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe,
                ipsa! Lorem
                <a href="#"> Lorem ipsum dolor sit amet consectetur</a> ipsum
                dolor sit amet consectetur adipisicing elit. Saepe, ipsa! Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Saepe, ipsa!
              </p>
              <p>
                <strong>
                  <a href="#"> Lorem ipsum dolor sit amet</a> consectetur
                  adipisicing elit. Saepe, ipsa! Lorem ipsum dolor sit amet
                  consectetur adipisicing elit. Saepe, ipsa! Lorem ipsum dolor
                  sit amet consectetur adipisicing elit. Saepe, ipsa!</strong
                >
              </p>
              <img src="images/content/hero.png" loading="lazy" alt="" />
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe,
                ipsa! Lorem
                <a href="#"> Lorem ipsum dolor sit amet consectetur</a> ipsum
                dolor sit amet consectetur adipisicing elit. Saepe, ipsa! Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Saepe, ipsa!
              </p>
              <ul>
                <li>Lorem ipsum</li>
                <li><a href="#">Lorem ipsum </a></li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
              </ul>
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/9-PSEaFMZVc?si=2B2GQmDS41vYHLDF"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
              ></iframe>
              <ol>
                <li>Lorem ipsum</li>
                <li><a href="#">Lorem ipsum </a></li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="row g-2 static-section__gallery">
          <div class="col-lg-4">
            <a
              href="#"
              data-source="/veslo_cz/build/ajax-gallery.json"
              data-gallery-id="3"
            >
              <img src="images/content/hero.png" loading="lazy" alt="" />
            </a>
          </div>
          <div class="col-lg-8">
            <div class="row g-2">
              <div class="col-lg-3 col-6">
                <a
                  href="#"
                  data-source="/veslo_cz/build/ajax-gallery.json"
                  data-gallery-id="3"
                >
                  <img src="images/content/hero.png" loading="lazy" alt="" />
                </a>
              </div>
              <div class="col-lg-3 col-6">
                <a
                  href="#"
                  data-source="/veslo_cz/build/ajax-gallery.json"
                  data-gallery-id="3"
                >
                  <img src="images/content/hero.png" loading="lazy" alt="" />
                </a>
              </div>
              <div class="col-lg-3 col-6">
                <a
                  href="#"
                  data-source="/veslo_cz/build/ajax-gallery.json"
                  data-gallery-id="3"
                >
                  <img src="images/content/hero.png" loading="lazy" alt="" />
                </a>
              </div>
              <div class="col-lg-3 col-6">
                <a
                  href="#"
                  data-source="/veslo_cz/build/ajax-gallery.json"
                  data-gallery-id="3"
                >
                  <img src="images/content/sport-1.png" loading="lazy" alt="" />
                </a>
              </div>
              <div class="col-lg-3 col-6">
                <a
                  href="#"
                  data-source="/veslo_cz/build/ajax-gallery.json"
                  data-gallery-id="3"
                >
                  <img src="images/content/photo-5.png" loading="lazy" alt="" />
                </a>
              </div>
              <div class="col-lg-3 col-6">
                <a
                  href="#"
                  data-source="/veslo_cz/build/ajax-gallery.json"
                  data-gallery-id="3"
                >
                  <img
                    src="images/content/topAritcle.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </div>
              <div class="col-lg-3 col-6">
                <a
                  href="#"
                  data-source="/veslo_cz/build/ajax-gallery.json"
                  data-gallery-id="3"
                >
                  <img
                    src="images/content/topstory-2.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </div>
              <div class="col-lg-3 col-6">
                <a
                  href="#"
                  data-source="/veslo_cz/build/ajax-gallery.json"
                  data-gallery-id="3"
                >
                  <img
                    src="images/content/player-detail.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  {% include "@components/footer/footer.twig" %}
</div>

{% endblock %}
