<div class="clubDetail">
  <div class="clubDetail__logo">
    <img src="images/content/dukla.png" loading="lazy" alt="club" />
  </div>
  <h1 class="h2 fw-light mb-lg-4 mb-3">ASC Dukla Praha</h1>
  <ul class="clubDetail__social">
    <li>
      <a href="#" class="clubDetail__social-item">
        {% include "@images/insta.svg" %}
      </a>
    </li>
    <li>
      <a href="#" class="clubDetail__social-item">
        {% include "@images/fb.svg" %}
      </a>
    </li>
  </ul>
</div>
<div class="mb-9">
  <div class="row g-lg-4 g-3">
    <div class="col-xl-3 col-lg-4 col-6">
      <div class="clubDetail__box">
        <h4 class="h3 mb-3">Pod Juliskou 1, 160 44 Praha 6</h4>
        <div class="clubDetail__box-position">Adresa</div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-6">
      <div class="clubDetail__box">
        <h4 class="h3 mb-3"> +420 251 632 377</h4>
        <div class="clubDetail__box-position">Telefon</div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-6">
      <div class="clubDetail__box">
        <h4 class="h3 mb-3">-</h4>
        <div class="clubDetail__box-position">Fotogalerie</div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-6">
      <div class="clubDetail__box">
        <h4 class="h3 mb-3">-</h4>
        <div class="clubDetail__box-position">E-mail</div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-6">
      <div class="clubDetail__box">
        <h4 class="h3 mb-3">
          <a href="#" target="_blank">duklasport.cz</a>
        </h4>
        <div class="clubDetail__box-position">web</div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-6">
      <div class="clubDetail__box">
        <h4 class="h3 mb-3">
          Ondřej Synek
          <div class="h4">+420 777 894 689</div>
        </h4>

        <div class="clubDetail__box-position">Předseda</div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-6">
      <div class="clubDetail__box">
        <h4 class="h3 mb-3">
          Ondřej Synek
          <div class="h4">+420 777 894 689</div>
        </h4>

        <div class="clubDetail__box-position">Hlavní trenér</div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-6">
      <div class="clubDetail__box">
        <h4 class="h3 mb-3">-</h4>
        <div class="clubDetail__box-position">Správce loděnice</div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-6">
      <div class="clubDetail__box">
        <h4 class="h3 mb-3">-</h4>
        <div class="clubDetail__box-position">Mapa</div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-6">
      <div class="clubDetail__box">
        <h4 class="h3 mb-3">1-6-</h4>
        <div class="clubDetail__box-position">Reg. č.</div>
      </div>
    </div>
  </div>
</div>
