<div class="clubDetail">
  <div class="clubDetail__logo">
    <img src="images/content/dukla.png" loading="lazy" alt="club" />
  </div>
  <h1 class="h2 fw-light mb-lg-4 mb-3">ASC Dukla Praha</h1>
  <ul class="clubDetail__social">
    <li>
      <a href="#" class="clubDetail__social-item">
        {% include "@images/insta.svg" %}
      </a>
    </li>
    <li>
      <a href="#" class="clubDetail__social-item">
        {% include "@images/fb.svg" %}
      </a>
    </li>
  </ul>
</div>
<div class="mb-9">
  <div class="row g-lg-4 g-3">
    <div class="col-xl-3 col-lg-4 col-6">
      <div class="clubDetail__box">
        <h4 class="h3 mb-3">Pod Juliskou 1, 160 44 Praha 6</h4>
        <div class="clubDetail__box-position">Adresa</div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-6">
      <div class="clubDetail__box">
        <h4 class="h3 mb-3"> +420 251 632 377</h4>
        <div class="clubDetail__box-position">Telefon</div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-6">
      <div class="clubDetail__box">
        <h4 class="h3 mb-3">-</h4>
        <div class="clubDetail__box-position">Fotogalerie</div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-6">
      <div class="clubDetail__box">
        <h4 class="h3 mb-3">-</h4>
        <div class="clubDetail__box-position">E-mail</div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-6">
      <div class="clubDetail__box">
        <h4 class="h3 mb-3">
          <a href="#" target="_blank">duklasport.cz</a>
        </h4>
        <div class="clubDetail__box-position">web</div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-6">
      <div class="clubDetail__box">
        <h4 class="h3 mb-3">
          Ondřej Synek
          <div class="h4">+420 777 894 689</div>
        </h4>

        <div class="clubDetail__box-position">Předseda</div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-6">
      <div class="clubDetail__box">
        <h4 class="h3 mb-3">
          Ondřej Synek
          <div class="h4">+420 777 894 689</div>
        </h4>

        <div class="clubDetail__box-position">Hlavní trenér</div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-6">
      <div class="clubDetail__box">
        <h4 class="h3 mb-3">-</h4>
        <div class="clubDetail__box-position">Správce loděnice</div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-6">
      <div class="clubDetail__box">
        <h4 class="h3 mb-3">-</h4>
        <div class="clubDetail__box-position">Mapa</div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-6">
      <div class="clubDetail__box">
        <h4 class="h3 mb-3">1-6-</h4>
        <div class="clubDetail__box-position">Reg. č.</div>
      </div>
    </div>
  </div>
  <div class="o-content my-5">
    <div class="perex">
      Druhý říjnový víkend bude tradičně patřit distančnímu závodu v Uherském
      Hradišti. Pro mladé závodníky to bude po letní sezóně první test na
      šestikilometrové trati a zároveň možná vstupenka na sraz juniorských a U23
      závodníků.
    </div>
    <p>
      Všechny tyto metriky jsou ale zavádějící. Typicky doba strávená na
      stránce. Kdo říká, že 5 minut je dobře a 20 sekund špatně? Čtenáři s
      pětiminutovou návštěvou dost možná zoufale hledají informace a poté
      naštvaně odchází. Ti, kteří jsou hotoví za pár sekund, možná rychle našli
      potřebnou informaci a odchází naprosto spokojení. Podobně člověk, který
      dočetl článek až do konce – třeba byl jen hodně trpělivý a snažil se najít
      odpověď na svůj dotaz, byť ho nakonec nenašel. Naopak ten, co se už z
      perexu dozvěděl vše podstatné, odchází z textu s radostí. Nenavádíme vás k
      tomu, abyste tyto metriky okamžitě přestali řešit. Jen jejich význam moc
      nepřeceňujte.
    </p>
  </div>
  <div class="row g-lg-4 g-3">
    <div class="col-md-4">
      <a
        href="images/content/post-2.png"
        data-fslightbox="gallery"
        class="playerDetail__photo"
      >
        <img src=" images/content/post-2.png" loading="lazy" alt="post-1" />
      </a>
    </div>
    <div class="col-md-4">
      <a
        href="images/content/post-1.png"
        class="playerDetail__photo"
        data-fslightbox="gallery"
      >
        <img src=" images/content/post-1.png" loading="lazy" alt="post-1" />
      </a>
    </div>
    <div class="col-md-4">
      <a
        href="images/content/post-3.png"
        class="playerDetail__photo"
        data-fslightbox="gallery"
      >
        <img src=" images/content/post-3.png" loading="lazy" alt="post-1" />
      </a>
    </div>
  </div>
</div>
