<section class="topstory-section">
  <div class="js-topstory">
    <a href="#" class="topstory-section__item">
      <img src="images/content/hero.png" alt="topstory" loading="lazy" />
    </a>
    <a href="#" class="topstory-section__item">
      <img src="images/content/topAritcle.png" alt="topstory" loading="lazy" />
    </a>
    <a href="#" class="topstory-section__item">
      <img src="images/content/topstory-2.png" alt="topstory" loading="lazy" />
    </a>
    <a href="#" class="topstory-section__item">
      <img src="images/content/hero.png" alt="topstory" loading="lazy" />
    </a>
    <a href="#" class="topstory-section__item">
      <img src="images/content/topAritcle.png" alt="topstory" loading="lazy" />
    </a>
  </div>
</section>
