<section class="topstory-section">
  <div class="js-topstory">
    <a href="#" class="topstory-section__item">
      <img src="images/content/hero.png" alt="topstory" loading="lazy" />
      <div class="topstory-section__box">
        <h1 class="h1">Síla, vůle, přátelství...</h1>
      </div>
    </a>
    <a href="#" class="topstory-section__item">
      <img src="images/content/topAritcle.png" alt="topstory" loading="lazy" />
      <div class="topstory-section__box">
        <h2 class="h1">Všechny medaile MČR ve sprintu jsou předány</h2>
      </div>
    </a>
    <a href="#" class="topstory-section__item">
      <img src="images/content/topstory-2.png" alt="topstory" loading="lazy" />
      <div class="topstory-section__box">
        <h2 class="h1">Beachsprint</h2>
      </div>
    </a>
    <a href="#" class="topstory-section__item">
      <img src="images/content/hero.png" alt="topstory" loading="lazy" />
      <div class="topstory-section__box">
        <h2 class="h1">112. PRIMÁTORKY</h2>
      </div>
    </a>
    <a href="#" class="topstory-section__item">
      <img src="images/content/topAritcle.png" alt="topstory" loading="lazy" />
      <div class="topstory-section__box">
        <h2 class="h1">Halové veslování</h2>
      </div>
    </a>
  </div>
</section>
